/*------------------------------------------
            Process Steps shortcode
-------------------------------------------*/
.process-steps .step {
    float: left;
    text-align: center;
}

.process-steps .step:last-child {
    margin-right: 0;
}

.process-steps .step .circle {
    border-radius: 50%;
    text-align: center;
    position: relative;
    transform: scale(0);
    opacity: 0;
    background-size: cover;
    background-position: center;
}

.process-steps .step .circle .separator {
    content: "";
    margin: 50% 15px;
    position: absolute;
    top: 0;
    left: 101%;
    transform: scaleX(0);
    transform-origin: left center;
}

.process-steps .step .circle .overlay-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: -1;
}

.process-steps .step:last-child .circle .separator {
    display: none;
}

.process-steps .step.small .circle {
    margin: 47px 0 77px;
}

.process-steps .step.medium .circle {
    margin: 24px 0 54px;
}

.process-steps .step.large .circle {
    margin-bottom: 30px;
}

.process-steps .step .caption {
    position: relative;
    top: 50%;
    display: block;
    font-size: 22px;
    transform: translateY(-50%);
}

.process-steps .step .title {
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 0;
    padding-top: 30px;
    opacity: 0;
    backface-visibility: hidden;
}

.process-steps .step .description {
    font-size: 14px;
    line-height: 20px;
    opacity: 0;
    visibility: hidden;
    padding-top: 30px;
    backface-visibility: hidden;
}
