
/*--------------------------------------
               Progress bar widget
--------------------------------------*/

.widget_md_progress {
    padding-right: 35px;
}

.widget_md_progress .widget-title {
    font-size: 15px;
}

.widget_md_progress .progress-list .bar-percentage {
    float: left;
    margin-right: 9px;
    font-size: 13px;
    text-align: right;
    margin-top: 3px;
    line-height: 2;
    width: 33px;
}

.widget_md_progress .progress-list .bar-container {
    height: 100%;

    overflow: hidden;
    vertical-align: middle;
    display: list-item;
    line-height: 100%;
    opacity: 0;
}

.widget_md_progress .progress-list .bar {
    height: 3px;
    border-radius: 5px;
    opacity: 0;
}

.widget_md_progress .progress-list .title {
    left: 3px;
    position: relative;
    line-height: 23px;
    text-align: left;
    font-size: 13px;
    font-weight: normal;
}

.widget-area.modernStyle .wrapContent {
    width: 100%;
}

/* Dark style */

.dark-sidebar.dark .widget_md_progress .progress-list .bar-percentage,
.footer-widgets.dark .widget_md_progress .progress-list .bar-percentage {
    color: rgba(0, 0, 0, 0.6);
}

.dark-sidebar .widget_md_progress .progress-list .bar,
.footer-widgets.dark .widget_md_progress .progress-list .bar {
    background-color: rgba(0, 0, 0, 0.3);
}

.dark-sidebar .widget_md_progress .progress-list .title,
.footer-widgets.dark .widget_md_progress .progress-list .title {
    color: rgba(0, 0, 0, 0.6);
}

/* hover */

.dark-sidebar .widget_md_progress .progress-list .progressbar:hover .bar-percentage,
.footer-widgets.dark .widget_md_progress .progress-list .progressbar:hover .bar-percentage{
    color: rgba(0, 0, 0, 1);
}

.dark-sidebar .widget_md_progress .progress-list .progressbar:hover .bar,
.footer-widgets.dark .widget_md_progress .progress-list .progressbar:hover .bar{
    background-color: rgba(0, 0, 0, 1);
}

.dark-sidebar .widget_md_progress .progress-list .progressbar:hover .title,
.footer-widgets.dark .widget_md_progress .progress-list .progressbar:hover .title{
    color: rgba(0, 0, 0, 1);
}

/* Light style */

.light-sidebar .widget_md_progress .progress-list .bar-percentage,
.footer-widgets.light .widget_md_progress .progress-list .bar-percentage{
    color: rgba(255, 255, 255, 0.6);
}

.light-sidebar .widget_md_progress .progress-list .bar,
.footer-widgets.light .widget_md_progress .progress-list .bar{
    background-color: rgba(255, 255, 255, 0.6);
}

.light-sidebar .widget_md_progress .progress-list .title,
.footer-widgets.light .widget_md_progress .progress-list .title{
    color: rgba(255, 255, 255, 0.6);
}

/* hover */

.light-sidebar .widget_md_progress .progress-list .progressbar:hover .bar-percentage,
.footer-widgets.light .widget_md_progress .progress-list .progressbar:hover .bar-percentage{
    color: rgba(255, 255, 255, 1);
}

.light-sidebar .widget_md_progress .progress-list .progressbar:hover .bar,
.footer-widgets.light .widget_md_progress .progress-list .progressbar:hover .bar{
    background-color: rgba(255, 255, 255, 1);
}

.light-sidebar .widget_md_progress .progress-list .progressbar:hover .title,
.footer-widgets.light .widget_md_progress .progress-list .progressbar:hover .title{
    color: rgba(255, 255, 255, 1);
}

/* other options */

.widget_md_progress .progressbar{
    cursor: pointer;
}

.widget_md_progress .progressbar .bar-percentage,
.widget_md_progress .progressbar .bar,
.widget_md_progress .progressbar .title{
    transition: all .5s;
}

