/****************************************************************
                Google Map
****************************************************************/
.md-google-map {
    width:100%;
}

.gm-style-mtc {
    display: none;
}