/* widget subscribe */

.mc4wp-form {
    display: none;
}


.widget-subscribe .subscribe-holder{
    width: 90%;
}

.right-align.sidebar .widget-subscribe .subscribe-holder{
    margin-left: 10%;
}

.widget-subscribe .widget-subscribe-textbox{
    border:none;
    background: transparent;
    outline: none;
    width: 88%;
    float: left;
}

.right-align.sidebar .widget-subscribe .widget-subscribe-textbox {
    float: right;
    text-align: right;
}
.widget-subscribe .widget-subscribe-button{
    background-image: url('../../../assets/img/widget-subscribe-btn.png');
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    width: 18px;
    height: 9px;
    outline: none;
    float: right;
    margin-right: 2px;
    margin-top:5px;
    transition: margin 0.2s;
}

.right-align.sidebar .widget-subscribe .widget-subscribe-button{
    float: left;
    margin-right: 0;
    margin-left: 2px;
    transform: rotateY(180deg);
}

.widget-subscribe .widget-subscribe-button:hover{
    margin-right: 0;
}

.widget-subscribe .send{
    margin-top: 30px;
}

.light .widget-subscribe .subscribe-holder,
.light-sidebar .widget-subscribe .subscribe-holder{
    border-bottom: 1px solid rgba(255,255,255, 0.3);
}

.dark .widget-subscribe .subscribe-holder,
.dark-sidebar .widget-subscribe .subscribe-holder{
    border-bottom: 1px solid rgba(0,0,0, 0.3);
}

