/*---------------------------------------------------------
                      Text in box Shortcode
---------------------------------------------------------*/
.text-in-box{
    text-align: center;
    position: relative;
    padding-top: 70px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    top:0;
    margin: 4px 10px 20px 10px;
}

.text-in-box:hover{
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
    top: -4px;
}

.text-in-box .icon-holder {
    margin: 0 auto 40px auto;
    position: relative;
}

.text-in-box .icon{
    font-size: 55px;
}

.text-in-box .title {
    margin-bottom: 20px;
}

.text-in-box .description {
    padding-bottom: 65px;
    font-weight: normal;
    width: 75%;
    margin: 0 auto;
    float: none;
}
