/****************************************************************
                Skill Chat Pie
****************************************************************/
.md-pie-chart{
    padding-top: 80px
}

.md-pie-chart.md-align-left .chart{margin-left: 0;}

.md-pie-chart.md-align-center .chart{margin: 0 auto;}

.md-pie-chart.md-align-right .chart{margin-left:auto;margin-right: 0;}

.md-pie-chart .chart{
    width: 210px;
}

.md-pie-chart .easyPieChart {
    position: relative;
    text-align: center;
}

.md-pie-chart .label{
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
}

.md-pie-chart .percentage{
    text-align: center;
    font-size: 35px;
    font-weight: normal;
    line-height: 35px
}

.md_pieChart2_title {
    display: block;
    font-size: 15px;
    margin-top: 15px;
    line-height: 20px;
}

.type-2 .icon {
    position: absolute;
    top: -44%;
    width: 102%;
    text-align: center;
}

.type-2.without-title .icon {
    position: absolute;
    top: -26%;
    width: 102%;
    text-align: center;
}

.pie_chart2_bottom_title {
    display: inline-block;
    position: absolute;
    top: 95%;
    text-align: center;
    width: 102%;
}

.md-pie-chart.type-2{
    padding-top:113px ;
}
