/*********************************
        Article Box
*********************************/
.article-box{
    width: 100.3%;
    position: relative;
    overflow: hidden;
}
.article-box .article-box-img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top:0;
    left:0;
    background-position: center center;
    background-size: cover;
}

.article-box .article-box-content{
    transition: margin-top 0.2s;
}

.article-box .article-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    left:0;
    opacity: 0.9;
    transition: opacity 0.3s,top 0.4s;
    padding: 0 40px 0 40px;
}
.article-box .title-icon{
    margin-top: 16px;
}

.article-box .article-box-icon{
    font-size: 27px;
    display: inline-block;
    margin-right: 10px;
}
.article-box .article-box-icon:before{
    vertical-align: middle;
}

.article-box .article-box-title{
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    display: inline-block;
}
.article-box .article-box-description{
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
}
.article-box .read-more{
    font-size: 13px;
    line-height: 19px;
    font-weight: normal;
}
.article-box .read-more-icon{
    margin-left:7px;
    font-size: 13px;
}
