
/****************************************************************
Skill Chat Pie
****************************************************************/
.md-pie-chart{
    padding-top: 80px
}

.md-pie-chart.md-align-left .chart{margin-left: 0;}

.md-pie-chart.md-align-center .chart{margin: 0 auto;}

.md-pie-chart.md-align-right .chart{margin-left:auto;margin-right: 0;}

.md-pie-chart .chart{
    width: 210px;
}

.md-pie-chart .easyPieChart {
    position: relative;
    text-align: center;
}

.md-pie-chart .label{
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
}

.md-pie-chart .percentage{
    text-align: center;
    font-size: 35px;
    font-weight: normal;
    line-height: 35px
}