/*---------------------------------------------------------
                        Button Shortcode
---------------------------------------------------------*/
/* General */

.shortcode-btn .button-icon {
    vertical-align: middle;
    text-align: center;
}

.shortcode-btn {
    display: inline-block;
    backface-visibility: hidden;
    padding:1px;
    white-space: nowrap;
}

.shortcode-btn .button {
    display: inline-table;
}

.shortcode-btn .button.fill-oval span,
.shortcode-btn .button.fade-oval span {
    vertical-align: middle;
    position: relative;
    top:-1px;
}

.shortcode-btn .button.button-small.slide span{
    position: relative;
    top:-2px;
}

.shortcode-btn .animation{
    overflow: hidden;
}

/*****     Buttons Small / Standard Sizes   *****/

.shortcode-btn .button-small {
    font-size: 12px;
    line-height: 13px;
}

.shortcode-btn .button-standard .button-icon {
    font-size: 15px;
    width: 15px;
    height: 15px;
    line-height: 15px;
}

.shortcode-btn .button-standard .button-icon {
    font-size: 14px;
    width: 22px;
    height: 22px;
    line-height: 22px;
}

.shortcode-btn .button-standard {
    font-size: 13px;
    line-height: 13px;
}

/* Fade Square Sizes */
.shortcode-btn .button.fade-square.button-small .button-icon {
    font-size: 14px;
}

/* Fade Oval Sizes */
.shortcode-btn .button.fade-oval.button-standard .button-icon,
.shortcode-btn .button.fill-oval.button-standard .button-icon{
    font-size: 18px;
}

.shortcode-btn .button.fade-oval.button-small .button-icon,
.shortcode-btn .button.fill-oval.button-small .button-icon{
    font-size: 14px;
}

/* Animation Sizes */

.shortcode-btn .animation span{
    display: inline-block;

}

.shortcode-btn .button-standard.animation {
    letter-spacing: 6px;
}

body:not(.compose-mode) .shortcode-btn .button-standard.animation{
    overflow: hidden;
}

.shortcode-btn .button-small.animation {
    letter-spacing: 4px;
}

.shortcode-btn .button-small.animation span ,
.shortcode-btn .button-standard.animation span{
    margin-right: 9px;
}

.shortcode-btn .button-small.animation .button-icon {
    font-size: 15px;
}

/* Slide Sizes */

.shortcode-btn .button-standard.slide,
.shortcode-btn .button-small.slide {
    text-align: left;
}

.shortcode-btn .slide.slide-transition{
    transition: width .4s, background .4s;
}

.shortcode-btn .button-standard.slide {
    height: 52px;
    width: 52px;
}

.shortcode-btn .button-small.slide {
    height: 40px;
    width: 40px;
}

.shortcode-btn .button-standard.slide span {
    left: 25px;
    opacity: 0;
    padding-right: 24px;
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    font-size: 14px;
}

.shortcode-btn .button-small.slide span {
    opacity: 0;
    left: 17px;
    padding-right: 15px;
    top: 0;
    bottom: 0;
    margin: 13px 0;
}

.shortcode-btn .button-standard.slide .button-icon {
    width: 47px;
    display: table;
    height: 52px;
    line-height: 54px;
}

.shortcode-btn .button-small.slide .button-icon {
    width: 38px;
    display: inline-block;
    height: 40px;
    line-height: 38px
}

/* Come In Sizes */

.shortcode-btn .button-standard.come-in {
    border: 3px solid;
}

.shortcode-btn .button-small.come-in{
    border: 2px solid;
}

/* Flash Animate Sizes */

.shortcode-btn .button-standard.flash-animate:hover .button-icon {
    left: 5px;
}

.shortcode-btn .button-small.flash-animate:hover .button-icon {
    left: 4px;
}

.shortcode-btn .button-standard.flash-animate:hover {
    /*padding-right: 30px !important;*/
    letter-spacing: 0;
}

.shortcode-btn .button-small.flash-animate:hover {
    /*padding-right: 29px !important;*/
}

/* Fade Square Style */

.shortcode-btn .fade-square,
.shortcode-btn .fade-oval,
.shortcode-btn .fill-oval,
.shortcode-btn .slide,
.shortcode-btn .come-in,
.shortcode-btn .fill-rectangle,
.shortcode-btn .animation,
.shortcode-btn .flash-animate {
    opacity: 1;
    border: 1px solid;
    font-weight: 400;
}
.shortcode-btn .fade-oval,
.shortcode-btn .flash-animate,
.shortcode-btn .slide{
    border: 2px solid;
}
.shortcode-btn .fade-square,
.shortcode-btn .fade-oval,
.shortcode-btn .come-in,
.shortcode-btn .animation,
.shortcode-btn .flash-animate {
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
}

.shortcode-btn .fade-square,
.shortcode-btn .flash-animate {
    border-radius: 3px;
}

.shortcode-btn .fade-square .button-icon,
.shortcode-btn .fade-oval .button-icon,
.shortcode-btn .fill-oval .button-icon{
    padding-right: 10px;
}

.shortcode-btn .fade-square .button-icon,
.shortcode-btn .fade-square span,
.shortcode-btn .fade-oval .button-icon,
.shortcode-btn .fade-oval span{
    -webkit-transition: all 100ms;
    -moz-transition: all 100ms;
    -ms-transition: all 100ms;
    white-space: nowrap;
    -o-transition: all 100ms;
    transition: all 100ms;
}

.shortcode-btn .fill-oval{
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

/* Fade Oval Style */

.shortcode-btn .fade-oval,
.shortcode-btn .fill-oval{
    border-radius: 50px;
    font-size: 14px;
}

.shortcode-btn .fill-oval span{
    line-height: 13px;
}

/* Slide Style */

/*.shortcode-btn .slide,*/

.shortcode-btn .slide .button-icon {
    /*-webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;*/
    transition: all .8s;
}

.shortcode-btn .slide {
    border-radius: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.shortcode-btn .slide span {
    white-space: nowrap;

    -webkit-transition: left .4s, opacity .4s;
    -moz-transition: left .4s, opacity .4s;
    -ms-transition: left .4s, opacity .4s;
    -o-transition: left .4s, opacity .4s;
    transition: left .4s, opacity .4s;
}

.shortcode-btn .slide:hover {
    border-radius: 50px;
    background-color: #2d2d2d;
    width: 124px;
}

.shortcode-btn .slide:hover .button-icon {
    transform: rotate(360deg);
}

.shortcode-btn .slide .button-icon {
    font-size: 18px;
}

/* Come In Style */

.shortcode-btn .come-in,
.shortcode-btn .fill-rectangle{
    position: relative;
    overflow: hidden;
    z-index: 9;
    transition: all .4s;
}

.shortcode-btn .come-in:hover:after {
    width: 100%;
}

.shortcode-btn .come-in:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all 0.3s;
}

.shortcode-btn .come-in .button-icon,
.shortcode-btn .come-in span{
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all 0.3s;
}

.shortcode-btn .come-in .button-icon,
.shortcode-btn .fill-rectangle .button-icon{
    margin-right: 10px;
}

.shortcode-btn .button-standard.come-in span,
.shortcode-btn .button-standard.fill-rectangle span{
    font-size: 14px;
    line-height: 1.2em;
}

.shortcode-btn .button-standard.come-in .button-icon,
.shortcode-btn .button-standard.fill-rectangle .button-icon{
    font-size: 15px;
}

/* Animation Style */

.shortcode-btn .animation {
    font-size: 13px;
    line-height: 13px;
    position: relative;
    border: 1px solid;
    -webkit-transition: opacity .4s, color .4s;
    -moz-transition: opacity .4s, color .4s;
    -ms-transition: opacity .4s, color .4s;
    -o-transition: opacity .4s, color .4s;
    transition: opacity .4s, color .4s;
}

.shortcode-btn .animation:after {
    content: "";
    position: absolute;
    left: -125px;
    width: 80px;
    height: 100px;
    top: -25px;
    -webkit-transition: left .4s, opacity .4s, color .4s, transform .4s;
    -moz-transition: left .4s, opacity .4s, color .4s, transform .4s;
    -ms-transition: left .4s, opacity .4s, color .4s, transform .4s;
    -o-transition: left .4s, opacity .4s, color .4s, transform .4s;
    transition: left .4s, opacity .4s, color .4s, transform .4s;
    -webkit-transform: skew(40deg);
    -moz-transform: skew(40deg);
    -ms-transform: skew(40deg);
    -o-transform: skew(40deg);
    transform: skew(40deg);
}

.shortcode-btn .animation:hover:after {
    -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -ms-transform: skew(0deg);
    -o-transform: skew(0deg);
    transform: skew(0deg);
    left:101%;
}

.shortcode-btn .animation:hover {
    opacity: 1;
}
.shortcode-btn .animation .button-icon{
    font-size: 15px;
}
/* Flash Animate Style */

.shortcode-btn .flash-animate {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.shortcode-btn .flash-animate:hover .button-icon {
    opacity: 1;
    left: 5px;
}

.shortcode-btn .flash-animate .button-icon {
    opacity: 0;
    left: -3px;
    position: relative;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}