/*

 Theme Name:   Massive Dynamic Child Theme

 Theme URI:    http://www.massivedynamic.co/

 Description:  A Massive Dynamic child theme 

 Author:       Pixflow

 Author URI:   http://www.pixflow.net

 Template:     massive-dynamic

 Version:      3.8

*/

.wrap-teammember-style2 .teammember-hover {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.wrap-teammember-style2 .teammember-hover p {
    padding: 0 30px !important;
}