/**************************************
         Price Box
**************************************/

.pixflow-price-box {
    width: 100%;
    display: flex;
}

.price-box-align-wraper {
    width: 570px;
}

.pixflow-price-box.md-align-center {
    justify-content: center;
}

.pixflow-price-box.md-align-right {
    justify-content: flex-end;
}

.pixflow-price-box .price-box-container {
    border: 1px solid;
    padding: 50px;
    position: relative;
    display: flex;
    align-items: flex-end;
    text-align: left;
    transition: box-shadow .3s;
    overflow: hidden;
    min-height: 260px;
}

.pixflow-price-box .price-box-container:hover {
    box-shadow: inset 0 0 0 4px #2098d1, 0 0 1px rgba(0, 0, 0, 0);
}

.pixflow-price-box.few-items .lists{
    position: absolute;
}

/* price container */
.pixflow-price-box .price-container {
    display: inline-block;
    margin-right: 7%;
    text-align: left;
}

.pixflow-price-box .price-container .text-part{
    position: absolute;
    top: 50px;
}

.pixflow-price-box .price-container .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 22px;
}

.pixflow-price-box .price-container .currency,
.pixflow-price-box .price-container .price {
    font-size: 30px;
    font-weight: bold;
}

.pixflow-price-box .price-container .sub-title {
    font-size: 14px;
    margin-bottom: 39px;
    line-height: 18px;
}

/* Lists */
.pixflow-price-box .lists {
    list-style: none;
    display: inline-block;
}

.pixflow-price-box .lists ul > li {
    list-style: none;
    position: relative;
    max-width: 195px;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 18px;
}

.pixflow-price-box .lists ul li:first-child {
    margin-top: 0;
}

.pixflow-price-box .lists ul li span {
    padding-right: 10px;
    font-size: 14px;
    white-space: normal;
}

/* offer */
.pixflow-price-box .offer-box {
    position: absolute;
    right: -62px;
    top: 16px;
    padding: 10px;
    text-align: center;
    transform: rotate(45deg);
    width: 200px;
    height: 40px;
    white-space: nowrap;
    z-index: -1;
}

/* in columns */
.col-sm-3 .pixflow-price-box .price-container,
.col-sm-4 .pixflow-price-box .price-container {
    margin-bottom: 9%;
}
