/***************************
        Info Box
****************************/

.sc-info-box {
    border: 3px solid gray;
    padding: 45px 50px 45px 35px;
    text-align: left;
    transition: box-shadow .3s,border-color .3s;
    position: relative;
}

.sc-info-box .title {
    font-size: 25px;
    max-width: 220px;
    line-height: 35px;
    font-weight: bold;
}

.sc-info-box .separator {
    width: 40px;
    height: 3px;
    display: inline-block;
    margin: 5px 0 10px 0;
}

.sc-info-box .description {
    font-size: 14px;
    margin-bottom: 35px;
    line-height: 24px;
    margin-top: 9px;
}

.sc-info-box i {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 10em;
}
