/******************************************************************
                        Horizontal Tab 2
******************************************************************/
.vc_md_hor_tabs2{
    clear: both;
}
.md_hor_tab2 ul.px_tabs_nav {
    float: left;
}
.md_hor_tab2 .wpb_tab {
    float: left;
}
.md_hor_tab2.wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab{
    width: 60%;
    background-color: transparent;
    padding-top: 0 ;
    text-align: left;
    padding: 0 !important;
}
.md_hor_tab2.wpb_content_element .px_tabs_nav.md-custom-tab{
    width: 40%;
    position: relative;
}

.md_hor_tab2.wpb_content_element .px_tabs_nav.md-custom-tab > li:first-child{
    margin-top: 0;
}

.md_hor_tab2.wpb_content_element .px_tabs_nav.md-custom-tab > li{
    float: none;
    height: 55px;
    display: table;
    width: 100%;
    z-index: 1;
    margin-top: 15px;
    background-repeat: no-repeat;
    transition: background-size .3s, color .3s;
    background-position: 50% 50%;
    background-size: 100% 0%;
    background-color: transparent;
}
.md_hor_tab2.wpb_content_element .px_tabs_nav.md-custom-tab > li:hover,
.md_hor_tab2.wpb_content_element .px_tabs_nav.md-custom-tab > li.ui-tabs-active{
    background-size: 100% 100%;
}
.md_hor_tab2.wpb_content_element .px_tabs_nav.md-custom-tab > li > a{
    float: none;
    display: table-cell;
    vertical-align: middle;
    padding: 0 18px;
}
.md_hor_tab2.wpb_content_element .px_tabs_nav.md-custom-tab > li > a .horTabTitle{
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
}
.md_hor_tab2.wpb_content_element .px_tabs_nav.md-custom-tab > li a i{
    margin-right: 12px;
    float: left;
    font-size: 22px;
    font-weight: normal;
}
.md_hor_tab2.wpb_content_element .px_tabs_nav.md-custom-tab > li a i.icon-angle-right{
    float: right;
    margin-right: 0;
}
.compose-mode .md_hor_tab2.wpb_content_element .px_tabs_nav.px_tabs_nav{
    z-index: 1;
}

body.compose-mode div.wpb_tabs  .unsortable > a.md-hor-tab2-add-tab{
    cursor: pointer;
    padding:23px 0px;
    min-height:84px;
    text-align: center;
}