/**************************************
         Feature Image
**************************************/

.sc-feature_image .main {
    padding: 30px;
    border-right: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
}

.sc-feature_image .image-container {
    width: 100%;
    overflow: hidden;
}

.sc-feature_image .feature_image-image {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.sc-feature_image:hover .feature_image-image {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.sc-feature_image .main i {
    float: left;
    font-size: 30px;
    margin: 0px 25px 10px 0;
}

.sc-feature_image .main h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 20px;
}

.sc-feature_image .main p {
    font-size: 15px;
    line-height: 23px;
}

.sc-feature_image .main,
.sc-feature_image .main h3,
.sc-feature_image .main p,
.sc-feature_image .main i {
    transition: background-color .3s, color .3s;
}

.row-equal-column-height .mBuilder-md_feature_image,
.row-equal-column-height .sc-feature_image{
    height: 100%;
}

/* Image */

.sc-feature_image .feature_image-image {
    background-size: cover;
    background-position: center;
}
