.team-member-modern {
    margin: 5px;
    -webkit-box-shadow: 1px 4px 46px -2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 4px 46px -2px rgba(0,0,0,0.2);
    box-shadow: 1px 4px 46px -2px rgba(0,0,0,0.2);
    position: relative;

}
.team-member-modern-img{
    position:relative;
    width: 100%;
}
.team-member-modern-img img{
    height: 100%;
    width: 100%;
}
.team-member-modern .description{

    color: #fff;
    width: 100%;
    position: relative;
    opacity: 0;
    text-align: center;
    font-family: poppins;
    font-size: 15px;
    padding: 0px 11%;


}
.team-member-modern .social-icons{
    position: relative;
    /* margin-top: 136px; */
    display: block;
    list-style: none;
    margin: auto;
    width: 133px;
    padding-top: 13px;
}
.team-member-modern .social-icons li{
    border: 1px solid;
    border-color: #fff;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    padding: 7px;
    padding-left: 10px;
    margin: 5px;
    float: left;
}
.team-member-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;

}
.team-member-modern .social-icons li a i{
    color: #fff;
}
.team-member-top{
    overflow: hidden;
    position: relative;

}
.team-member-down .title{
    padding: 10px 7%;
    line-height: 29px;
    font-family: poppins;
    font-weight: bold;
    font-size: 19px;
    padding-top:25px;
}
.team-member-down .subtitle{
    font-size: 14px;
    line-height: 18px;
    padding: 0px 15%;
    padding-top: 13px;
    padding-bottom: 20px;
    font-family: poppins;
    margin-top: -26px;
}
.team-member-down {
    text-align: center;
    background-color: #ffffff;
}
.team-member-hover{
    top: 39px;
    left: 38px;
    opacity: 0.8;
    position: absolute;
    height: 53px;
    width: 53px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform:translate(-50%,-50%);
}
.team-member-hover-button{

    cursor: pointer;
    overflow: hidden;
    top: 13px;
    z-index: 99;
    justify-content: center;
    position: absolute;
    height: 50px;
    width: 50px;
}
.lines{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 26px;
    top: 23px;
    z-index: 2;
}
.lines .line1{
    height:2px;
    width:23px;
    background-color: #ffffff;
    margin-top: 9px;


}
.lines .line2{
    height:2px;
    width:17px;
    background-color: #ffffff;
    margin-top:5px;


}
.lines .line3{
    height:2px;
    width:23px;
    background-color: #ffffff;
    margin-top:5px;




}
.social-icon-1{
    transform: translateY(60px);

    opacity:0;
}
.social-icon-2{
    transform: translateY(60px);
    opacity:0;
}
.social-icon-3{
   transform: translateY(60px);
    opacity:0;
}
