/********************************************************
            Count Box
********************************************************/
.md-countbox.md-align-left{ text-align: left; }
.md-countbox.md-align-center{ text-align: center; }
.md-countbox.md-align-right{ text-align: right; }

.md-countbox .counter{
    display: inline-block;
}

.md-countbox .counter .timer{
    font-size: 85px;
    font-weight: normal;
    line-height: 85px;
    opacity: 0;
    width: 22%;
    float: left;
    margin-right: 30px;
    text-align: right;
}
.md-countbox .countbox-text{
    float: left;
    width: 70%;
    text-align: left;
}
.md-countbox .title{
    font-size:27px;
    font-weight:bold;
    line-height: 27px;
    margin-bottom: 20px;
    margin-top: 10px;
    opacity: 1;
    width: 70%;
}
.md-countbox .title.countbox-nodesc{
    margin: 0;
    line-height: 85px;
}
.md-countbox .countbox-title-separator{
    border-bottom: 1px solid;
    width: 7%;
    margin-bottom: 17px;
}
.md-countbox p{
    font-size:14px;
    font-weight:normal;
    line-height: 23px;
    margin-bottom: 35px;
    opacity: 0.7;
}
