/* -------------------------------------------------
                Tablet Slider Shortcode
----------------------------------------------------*/
.tablet-slider {
    min-height: 330px;
}

.tablet-slider .flex-control-nav {
    position: relative;
    bottom: 0;
    margin-bottom: 40px;
    list-style-type: none;
    text-align: center;
}

.tablet-slider .flex-control-nav li {
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    padding-left: 17px;
    opacity: 0.5;
}

.tablet-slider .flex-control-nav li:last-child:after {
    content: '';
}

.tablet-slider .flex-control-nav li.flex-active {
    opacity: 1;
}

.tablet-slider .flexslider {
    max-width: 745px;
    margin: 0 auto;
    position: relative;
    background: none;
    border: none;
    width: 90%;
    height: 90%;
}

.tablet-slider .flexslider .slides {
    list-style-type: none;
}

.tablet-slider .flexslider .tablet-frame {
    position: absolute;
    left: 0;
    max-width: 100%;
    background-color: transparent;
    background-position: left top ;
    background-repeat: no-repeat;
    background-size: contain;
    height: 593px;
    right: 0;
    margin: auto;
    transform: scale(1.009);
}

.tablet-slider .flexslider .slide-description {
    margin-bottom: 67px;
    color: #000;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    height: 64px;
    overflow: hidden;
    padding: 0 7%;
}

.tablet-slider .flexslider .slide-image {
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin: auto;
}

.tablet-slider .flexslider .flex-direction-nav a {
    width: 13%;
    height: 13%;
    top: 50%;
    opacity: 1;
}

.tablet-slider .flexslider .flex-direction-nav .flex-prev {
    left: -9% !important;
}

.tablet-slider .flexslider .flex-direction-nav .flex-prev:before {
    content: "";
    max-width: 100%;
    background-size: contain;
    background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.tablet-slider .flexslider .flex-direction-nav .flex-next {
    right: -16% !important;
}

.tablet-slider .flexslider .flex-direction-nav .flex-next:before {
    content: "";
    max-width: 100%;
    background-color: transparent;
    background-position: left center ;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.md-align-left.tablet-slider{
    float: left;
    margin-left:25px;
    display: inline-block;
}
.md-align-center.tablet-slider{
    margin:0 auto;
}
.md-align-right.tablet-slider{
    float:right;
    display: inline-block;
    margin-right: 10px;
}
.vc_md_tablet_slider:after,
.vc_md_tablet_slider:before{
    clear: both;
    content: ' ';
    display: block;
}
