/***********************************
        Slider Carousel
************************************/

.slider-carousel .gallery-cell{
    background-size:cover;
    background-position: center;
    outline:none;
    transition: box-shadow 300ms;
    width: 100%;
    box-shadow: none;
}

@media screen and ( min-width: 768px ) {
    .slider-carousel .gallery-cell {
        width: 60%; }
}

.slider-carousel .flickity-page-dots{
    bottom: 20px;
}

.slider-carousel .flickity-page-dots .dot{
    border-radius: 5px;
    width: 6px;
    height: 6px;
    padding: 0;
    display: inline-block;
    margin: 0 5px;
    background: rgba(0,0,0,0.3);
    transition:width 200ms;
}

.slider-carousel .flickity-page-dots .dot.is-selected{
    width: 10px;
    border-radius:5px;
    transition:width 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
