/***************************
        Count Down
****************************/

.count-down {
    text-align: center;
}

.count-down #date-time .content {
    margin: 50px 2em 50px 2em;
    text-align: center;
    font-size: 18px;
    position: relative;
    display: inline-block;
    width: 74px;
}

.count-down #date-time .content span {
    display: block;
    font-size: 60px;
    margin-bottom: 17px;
    line-height: 60px;
}

.count-down #date-time .content hr {
    height: 2px;
    width: 34px;
    border: none;
}
