
/* Text Widget */
.footer-widgets .widget-md-text .text-widget-desc p{
    padding-right: 40px;
}

.modernStyle .text-widget-image {
    display: inline-block;
}

.widget-md-text .text-widget-image {
    max-width: 300px;
    max-height: 70px;
    margin-bottom: -9px;
}

.center-align .widget-md-text .text-widget-image {
    margin: 0 auto;
}

.right-align .widget-md-text .text-widget-image {
    float: right;
}

.widget-md-text #text-widget-btn {
    margin-top: 25px;
    color: inherit;
    border-color: inherit;
}

.widget-md-text #text-widget-btn .shortcode-btn .fade-square {
    transition: border-color 0.3s;
}

.widget-md-text #text-widget-btn .shortcode-btn .fade-square span {
    transition: color 0.3s;
}

.dark .widget-md-text .text-widget-desc p,
.dark-sidebar .widget-md-text .text-widget-desc p {
    color: rgba(0, 0, 0, 0.6) !important;
}

.dark .widget-md-text #text-widget-btn .shortcode-btn .fade-square,
.dark-sidebar .widget-md-text #text-widget-btn .shortcode-btn .fade-square {
    border-color: rgba(0, 0, 0, 0.6);
    padding: 10px 21px 10px 10px;
}

.dark .widget-md-text #text-widget-btn .shortcode-btn .fade-square:hover,
.dark-sidebar .widget-md-text #text-widget-btn .shortcode-btn .fade-square:hover {
    border-color: rgba(0, 0, 0, 1);
}

.dark .widget-md-text #text-widget-btn .shortcode-btn .fade-square:hover span,
.dark-sidebar .widget-md-text #text-widget-btn .shortcode-btn .fade-square:hover span {
    color: rgba(0, 0, 0, 1);
}

.light .widget-md-text .text-widget-desc p,
.light-sidebar .widget-md-text .text-widget-desc p {
    color: rgba(255, 255, 255, 0.6) !important;
}

.light .widget-md-text #text-widget-btn .shortcode-btn .fade-square,
.light-sidebar .widget-md-text #text-widget-btn .shortcode-btn .fade-square {
    border: 1px solid rgba(255, 255, 255, 0.6);
}

.light .widget-md-text #text-widget-btn .shortcode-btn .fade-square:hover,
.light-sidebar .widget-md-text #text-widget-btn .shortcode-btn .fade-square:hover {
    border: 1px solid rgba(255, 255, 255, 1);
}

.light .widget-md-text #text-widget-btn .shortcode-btn .fade-square:hover span,
.light-sidebar .widget-md-text #text-widget-btn .shortcode-btn .fade-square:hover span {
    color: rgba(255, 255, 255, 1);
}

.textwidget iframe{
    width:100%;
}
