/*--------------------------------------
               Separator
--------------------------------------*/
.sc-separator {
    text-align: center;
    margin: auto
}

.sc-separator.md-align-left{margin-left: 0}

.sc-separator.md-align-center{margin: 0 auto;}

.sc-separator.md-align-right{margin-left:auto; margin-right: 0}

.sc-separator img {
    margin: auto;
    width: 100%;
    height: 45px
}
