/* General
 * ==================================================== */
.vp-wrap .vp-option-panel a:hover,.vp-wrap .vp-option-panel a:active,.vp-wrap .vp-option-panel a:focus {
	outline: 0;
}
.vp-wrap .vp-option-panel *,.vp-wrap .vp-option-panel *:before,.vp-wrap .vp-option-panel *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.vp-wrap .vp-hide {
	position: absolute !important;
	border: 0;
	clip: rect(0 0 0 0);
	height: 0;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	width: 0 !important;
}
/* Main Layout
 * ==================================================== */
.vp-wrap {
	position: relative;
}
.vp-wrap .vp-option-panel {
	background-color: #ffffff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.05);
	box-shadow: 0 1px 3px rgba(0,0,0,0.05);
	border-radius: 3px;
	border: 1px solid #dddddd;
	color: #666666;
	display: table;
	height: auto;
	margin-top: 15px;
	min-height: 100%;
	min-width: 680px;
	position: relative;
	width: 100%;
}
.vp-wrap .vp-option-panel.fixed-layout {
	width: 900px;
}
.vp-wrap .vp-option-panel.fluid-layout {
	width: 100%;
}
.vp-wrap .vp-option-panel .vp-current {
	position: static !important;
}
.vp-wrap .vp-option-panel .stop {
	display: none;
}
.vp-wrap .vp-option-panel .validation-notif.vp-error {
	background-image: url('../img/vp-sprite.png');
	background-repeat: no-repeat;
	background-position: 0 -240px;
	display: block;
	height: 14px;
	width: 14px;
}
.vp-wrap .vp-option-panel .vp-button {
	height: 30px;
	line-height: 28px;
	margin: 0;
	padding: 0 12px;
}
.vp-option-panel input,.vp-option-panel select,.vp-wrap .vp-option-panel textarea {
	color: #666666;
}
.vp-wrap .vp-option-panel img {
	max-width: 100%;
	vertical-align: bottom;
}
.vp-wrap .vp-left-panel {
	background-color: #f9f9f9;
	border-radius: 3px 0 0 3px;
	border-right: 1px solid #dddddd;
	display: table-cell;
	position: relative;
	vertical-align: top;
	width: 220px;
}
.vp-wrap .vp-logo {
	text-align: center;
	min-height: 30px;
	padding: 40px 20px 20px 20px;
}
.vp-wrap .vp-right-panel {
	border-radius: 0 4px 4px 0;
	padding: 51px 0;
	position: relative;
}
/* Menus
 * ==================================================== */
.vp-wrap .vp-menus {
	margin-bottom: 50px;
	margin-right: -1px;
}
.vp-wrap .vp-menus ul {
	margin: 0;
	font-weight: bold;
}
.vp-wrap .vp-menus ul.vp-menu-level-1 {
	position: relative;
	border-top: 1px solid #dddddd;
}
.vp-wrap .vp-menus ul.vp-menu-level-1 > li {
	margin: 0;
	position: relative;
}
.vp-wrap .vp-menus ul.vp-menu-level-1 > li > a {
	border-bottom: 1px solid #dddddd;
}
.vp-wrap .vp-menus ul.vp-menu-level-1 > li > a i {
	width: 30px;
}
.vp-wrap .vp-menus ul.vp-menu-level-1 > li > a.vp-menu-dropdown:after {
	content: ' ';
	display: block;
	height: 0;
	width: 0;
	border-bottom: none;
	border-top: 6px solid #999999;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	position: absolute;
	margin: -3px 10px 0 0;
	top: 50%;
	right: 0;
}
.vp-wrap .vp-menus ul.vp-menu-level-1 > li.vp-current > a.vp-menu-dropdown:after {
	content: ' ';
	display: block;
	height: 0;
	width: 0;
	border-top: none;
	border-bottom: 6px solid #999999;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	position: absolute;
	margin: -3px 10px 0 0;
	top: 50%;
	right: 0;
}
.vp-wrap .vp-menus li.vp-current > a.vp-menu-goto {
	background-color: #ffffff;
	border-right: 1px solid #ffffff;
}
.vp-wrap .vp-menus ul.vp-menu-level-2 {
	background-color: #f3f3f3;
	border-bottom: 1px solid #dddddd;
	margin: 0;
	display: none;
}
.vp-wrap .vp-menus ul.vp-menu-level-1 > li.vp-current a.vp-menu-dropdown ~ ul.vp-menu-level-2 {
	display: block;
}
.vp-wrap .vp-menus ul.vp-menu-level-2 > li {
	margin: 0;
	position: relative;
}
.vp-wrap .vp-menus ul.vp-menu-level-2 li a {
	position: relative;
}
.vp-wrap .vp-menus ul.vp-menu-level-2 > li a i {
	padding-left: 25px;
	width: 40px;
}
.vp-wrap .vp-menus a {
	color: #666666;
	display: table;
	font-size: 12px;
	line-height: 20px;
	position: relative;
	text-decoration: none;
	width: 100%;
}
.vp-wrap .vp-menus li:hover {
	background-color: rgba(255,255,255,0.2);
}
.vp-wrap .vp-menus a i {
	display: table-cell;
	font-size: 14px;
	padding: 12px 0 12px 15px;
}
.vp-wrap .vp-menus a i.custom-menu-icon {
	height: 16px;
	background-repeat: no-repeat;
	background-position: top left;
}
.vp-wrap .vp-menus ul a i + span {
	padding-left: 10px !important;
}
.vp-wrap .vp-menus a span {
	display: table-cell;
	padding: 12px 50px 12px 40px;
}
.vp-wrap .vp-menus ul.vp-menu-level-2 a span {
	padding-left: 65px;
}
.vp-wrap .vp-menus a .validation-notif.vp-error {
	position: absolute;
	margin: -7px 30px 0 0;
	top: 50%;
	right: 0;
}
/* Submit
 * ==================================================== */
.vp-wrap .vp-submit {
	position: absolute;
	width: 100%;
}
.vp-wrap .vp-submit.top {
	border-bottom: 1px solid #dddddd;
	top: 0;
}
.vp-wrap .vp-submit.bottom {
	border-top: 1px solid #dddddd;
	bottom: 0;
}
.vp-wrap .vp-submit .inner {
	overflow: hidden;
	padding: 10px;
}
.vp-wrap .vp-submit .vp-button {
	color: #ffffff;
	float: right;
}
.vp-wrap .vp-submit p {
	border-radius: 3px;
	color: #666666;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	margin: 0 30px 0 0;
	overflow: hidden;
}
.vp-wrap .vp-submit .save-loader {
	padding: 5px 20px 5px 20px;
}
.vp-wrap .vp-submit .save-loader img {
	margin-right: 12px;
	vertical-align: middle;
}
.vp-wrap .vp-submit .save-status {
	background-image: url('../img/vp-sprite.png');
	background-repeat: no-repeat;
	background-position: 9999px 9999px;
	padding: 5px 20px 5px 45px;
	min-height: 20px;
}
.vp-wrap .vp-submit .save-status.success {
	background-position: 0 -180px;
}
.vp-wrap .vp-submit .save-status.failed {
	background-position: 0 -210px;
}
/* Panel
 * ==================================================== */
.vp-wrap .vp-panel {
	padding: 20px;
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
	max-width: 100%;
	max-height: 100%;
}
.vp-wrap .vp-panel > h2 {
	background-color: #f9f9f9;
	margin: 10px 0 30px;
	padding: 0;
	height: 10px;
}
.vp-wrap .vp-panel > h2 span {
	background-color: #ffffff;
	line-height: 1em;
	padding: 0 15px;
	position: relative;
	top: -10px;
}
.vp-wrap .vp-section {
	background-color: #ffffff;
	margin-top: -1px;
	padding: 30px 0 20px;
	position: relative;
	width: 100%;
}
.vp-wrap .vp-section > h3 {
	background-color: #ffffff;
	color: #278ab7;
	font-size: 12px;
	line-height: 1em;
	padding: 4px 10px;
	margin: 20px 0 0 20px;
	position: absolute;
	top: 0;
	text-transform: uppercase;
	z-index: 1;
}
.vp-wrap .vp-section > .description {
	display: block;
	height: 20px;
	width: 40px;
	background-image: url('../img/vp-sprite.png');
	background-repeat: no-repeat;
	background-position: 0 -120px;
	cursor: pointer;
	position: absolute;
	right: 0;
	margin: -10px 20px 0 0;
	background-color: #ffffff;
	padding: 0 10px;
	z-index: 1;
}
.vp-wrap .vp-section > .description:hover {
	background-position: -40px -120px;
}
.vp-wrap .vp-section .vp-controls {
	border-radius: 3px;
	border: 1px solid #eeeeee;
	padding-top: 10px;
	position: relative;
	width: 100%;
}
.vp-wrap .vp-field {
	background-color: transparent;
	border-bottom: 1px solid #eeeeee;
	display: table;
	table-layout: fixed;
	width: 100%;
}
.vp-wrap .vp-error {
	background-color: #fbf1f1;
}
.vp-wrap .vp-field .label {
	display: table-cell;
	font-size: 12px;
	line-height: 20px;
	width: 30%;
	padding: 15px 0 15px 20px;
	vertical-align: top;
}
.vp-wrap .vp-field .label label {
	cursor: default;
	display: block;
	font-weight: bold;
	padding-top: 5px;
}
.vp-wrap .vp-field .label .description {
	font-size: 10px;
	line-height: 1.4em;
	color: #999999;
	margin-top: 2px;
}
.vp-wrap .vp-field .label .description p {
	margin: 0;
}
.vp-wrap .vp-field .field {
	display: table-cell;
	font-weight: normal;
	padding: 15px 20px;
	position: relative;
	width: 70%;
}
.vp-wrap .vp-field .field .input {
	position: relative;
}
.vp-wrap .vp-checkimage .field .input img,.vp-wrap .vp-radioimage .field .input img,.vp-wrap .vp-upload .field .input img {
	border-width: 1px;
	border-style: solid;
	border-color: #dddddd;
	border-radius: 3px;
	padding: 3px;
}
.vp-wrap .vp-field .field .validation-msgs {
	color: #cc0000;
	clear: both;
	font-weight: bold;
}
.vp-wrap .vp-field .field .validation-msgs ul {
	margin: 0;
}
.vp-wrap .vp-field .field .validation-msgs ul li:first-child {
	margin-top: 10px;
}
.vp-wrap .vp-field .field input[type="checkbox"],.vp-wrap .vp-field .field input[type="radio"] {
	display: none;
}
.vp-wrap .vp-textbox .field input[type="text"],.vp-wrap .vp-slider .field input[type="text"],.vp-wrap .vp-upload .field input[type="text"],.vp-wrap .vp-date .field input[type="text"],.vp-wrap .vp-textarea .field textarea,.vp-wrap .vp-color .field input[type="text"] {
	margin: 0;
	padding: 6px 10px;
	border-radius: 3px;
	border: 1px solid #cccccc;
	background-color: #ffffff;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.05);
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.05);
}
.vp-wrap .vp-textbox .field input[type="text"],.vp-wrap .vp-upload .field input[type="text"],.vp-wrap .vp-textarea .field textarea {
	width: 100%;
}
/* CHECKBUTTON & RADIOBUTTON */
.vp-wrap .vp-checkbox .field label,.vp-wrap .vp-radiobutton .field label {
	*display: inline;
	*zoom: 1;
	display: inline-block;
	margin-right: 30px;
	line-height: 30px;
}
.vp-wrap .vp-checkbox .field span,.vp-wrap .vp-radiobutton .field span {
	background-image: url('../img/vp-sprite.png');
	background-repeat: no-repeat;
	display: inline-block;
	margin-right: 6px;
	position: relative;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
.vp-wrap .vp-checkbox .field span {
	background-position: 0 0;
}
.vp-wrap .vp-radiobutton .field span {
	background-position: 0 -20px;
}
.vp-wrap .vp-checkbox .field input:checked ~ span {
	background-position: -20px 0;
}
.vp-wrap .vp-radiobutton .field input:checked ~ span {
	background-position: -20px -20px;
}
/* elt ie8 style */
.vp-wrap .vp-checkbox .field input.checked ~ span {
	background-position: -20px 0;
}
.vp-wrap .vp-radiobutton .field input.checked ~ span {
	background-position: -20px -20px;
}
/* CHECKIMAGE & RADIOIMAGE */
.vp-wrap .vp-checkimage .field label,.vp-wrap .vp-radioimage .field label {
	*display: inline;
	*zoom: 1;
	display: inline-block;
	margin: 5px;
	vertical-align: top;
}
.vp-wrap .vp-checkimage .field img,.vp-wrap .vp-radioimage .field img {
	min-height: 16px;
	min-width: 16px;
	max-width: 200px;
	max-height: 200px;
	width: auto;
	height: auto;
}
/* elt ie8 style */
.vp-wrap .vp-checkimage .field input:checked ~ img,.vp-wrap .vp-radioimage .field input:checked ~ img,.vp-wrap .vp-checkimage .field input.checked ~ img,.vp-wrap .vp-radioimage .field input.checked ~ img {
	border-color: #278ab7;
	background-color: #278ab7;
}
/* TOGGLE */
.vp-wrap .vp-toggle .field label {
	*display: inline;
	*zoom: 1;
	display: inline-block;
}
.vp-wrap .vp-toggle .field span {
	display: block;
	background-image: url('../img/vp-sprite.png');
	background-position: 0 -40px;
	width: 60px;
	height: 30px;
	margin-top: -2px;
}
.vp-wrap .vp-toggle .field input:checked ~ span {
	background-position: -60px -40px;
}
/* elt ie8 style */
.vp-wrap .vp-toggle .field input.checked ~ span {
	background-position: -60px -40px;
}
/* SLIDER */
.vp-wrap .vp-slider .field .input {
	padding: 10px 80px 10px 10px;
}
.vp-wrap .vp-slider .field .slidebar {
	background-color: transparent;
	background-image: url('../img/vp-sprite.png');
	background-repeat: repeat-x;
	background-position: 0 -80px;
	border-radius: 4px;
	border: none;
	height: 8px;
	position: relative;
}
.vp-wrap .vp-slider .field .slidebar a {
	background-color: transparent;
	background-image: url('../img/vp-sprite.png');
	background-repeat: no-repeat;
	background-position: 0 -100px;
	cursor: pointer;
	border: none;
	display: block;
	height: 20px;
	width: 20px;
	position: absolute;
	margin-left: -10px;
	top: -6px;
	z-index: 0;
}
.vp-wrap .vp-slider .field .slidebar .ui-slider-range {
	background-image: url('../img/vp-sprite.png');
	background-repeat: repeat-x;
	background-position: 0 -90px;
	height: 8px;
	border-radius: 4px;
	position: absolute;
	z-index: 0;
}
.vp-wrap .vp-slider .field .slideinput {
	margin-top: -10px;
	position: absolute;
	right: 0;
	width: 60px;
	top: 0;
}
/* UPLOAD */
.vp-wrap .vp-upload .field .input {
	padding-right: 130px;
}
.vp-wrap .vp-upload .field input[type="text"] {
	width: 100%;
}
.vp-wrap .vp-upload .field .buttons {
	position: absolute;
	top: 0;
	right: 0;
}
.vp-wrap .vp-upload .field .image {
	line-height: 0em;
}
.vp-wrap .vp-upload .field .image img {
	margin-top: 10px;
}
.vp-wrap .vp-upload .field .image img[src=""] {
	display: none;
}
/* SORTER & MULTISELECT */
.vp-wrap .vp-sorter .field .input li.ui-state-highlight,.vp-wrap .vp-sorter .field .input li.select2-search-choice {
	display: block;
	float: none;
	margin: 3px 5px;
	height: 21px;
}
.vp-wrap .vp-sorter .field .input ul,.vp-wrap .vp-multiselect .field .input ul {
	background-image: none;
	border-radius: 3px;
	border: 1px solid #cccccc;
	background-color: #ffffff;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.05);
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.05);
}
.vp-wrap .vp-multiselect .field .input .select2-dropdown-open ul,.vp-wrap .vp-sorter .field .input .select2-dropdown-open ul {
	-webkit-box-shadow: 0 4px 5px rgba(0,0,0,0.15);
	box-shadow: 0 4px 5px rgba(0,0,0,0.15);
}
.vp-wrap .vp-multiselect .field .input .select2-dropdown-open.select2-drop-above ul,.vp-wrap .vp-sorter .field .input .select2-dropdown-open.select2-drop-above ul {
	-webkit-box-shadow: 0 -4px 5px rgba(0,0,0,0.15);
	box-shadow: 0 -4px 5px rgba(0,0,0,0.15);
}
/* SELECT & FONTAWESOME */
.vp-wrap .vp-select .field .input a,.vp-wrap .vp-fontawesome .field .input a {
	height: 30px;
	background-image: none;
	border-radius: 3px;
	border: 1px solid #cccccc;
	background-color: #ffffff;
	-webkit-box-shadow: inset 0 -2px 4px rgba(0,0,0,0.05);
	box-shadow: inset 0 -2px 4px rgba(0,0,0,0.05);
}
.vp-wrap .vp-select .field .input a span,.vp-wrap .vp-fontawesome .field .input a span {
	line-height: 28px;
}
.vp-wrap .vp-select .field .input .select2-dropdown-open a,.vp-wrap .vp-fontawesome .field .input .select2-dropdown-open a {
	-webkit-box-shadow: 0 4px 5px rgba(0,0,0,0.15);
	box-shadow: 0 4px 5px rgba(0,0,0,0.15);
}
.vp-wrap .vp-select .field .input .select2-dropdown-open.select2-drop-above a,.vp-wrap .vp-fontawesome .field .input .select2-dropdown-open.select2-drop-above a {
	-webkit-box-shadow: 0 -4px 5px rgba(0,0,0,0.15);
	box-shadow: 0 -4px 5px rgba(0,0,0,0.15);
}
.vp-wrap .vp-select .field .input a div,.vp-wrap .vp-fontawesome .field .input a div {
	border: none;
	background-color: transparent;
	background-image: none;
}
/* TEXTAREA */
.vp-wrap .vp-textarea .field textarea {
	max-height: 200px;
	-webkit-resize: vertical;
	-moz-resize: vertical;
	resize: vertical;
	width: 100%;
	height: 100px;
}
/* WP TinyMCE Editor */
.vp-wrap .vp-wpeditor .label {
	display: block;
	padding: 15px 0 0 20px;
	width: 100%;
}
.vp-wrap .vp-wpeditor .field {
	display: block;
	padding-top: 0;
	width: 100%;
}
.vp-wrap .customEditor {
	margin: 15px 0px;
}
.vp-wrap .customEditor textarea {
	width: 100%;
	margin: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.vp-wrap .custom_upload_buttons a {
	text-decoration: none;
}
.vp-wrap .wp_themeSkin table.mceLayout {
	background: #ffffff;
	border-width: 1px;
	border-style: solid;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-color: #CCC #CCC #DFDFDF;
}
.vp-wrap .customEditor * {
	-webkit-box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	-ms-box-sizing: content-box !important;
	box-sizing: content-box !important;
}
.vp-wrap .vp-wpeditor .field .customEditor .mceIcon img {
	border-width: 0;
	padding: 0;
}
/* COLOR */
.vp-wrap .vp-color .field label {
	background-image: url('../img/vp-sprite.png');
	background-position: 0 -140px;
	display: block;
	height: 20px;
	left: 0px;
	margin: 5px;
	position: absolute;
	top: 0px;
	width: 20px;
}
.vp-wrap .vp-color .field label span {
	display: block;
	height: 100%;
	width: 100%;
	background-image: -webkit-linear-gradient(180deg, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.05) 100%);
	background-image: -moz-linear-gradient(180deg, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.05) 100%);
	background-image: -o-linear-gradient(180deg, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.05) 100%);
	background-image: -ms-linear-gradient(180deg, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.05) 100%);
	background-image: linear-gradient(180deg, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.05) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#00ffffff',GradientType=0 );
}
.vp-wrap .vp-color .field input[type="text"] {
	width: 200px;
	padding: 6px 12px 6px 35px;
}
/* DATE */
.vp-wrap .vp-date .field input[type="text"] {
	width: 140px;
}
/* HTML PREVIEW */
.vp-wrap .vp-html .field .input {
	overflow: auto;
}
.vp-wrap .vp-html .field .vp-field-loader {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	text-align: center;
	top: 0;
}
.vp-wrap .vp-html .field .vp-field-loader img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -5px 0 0 -8px;
}
/* Copyright
 * ==================================================== */
.vp-wrap .vp-copyright {
	color: #888888;
	font-size: 11px;
	line-height: 1.4em;
}
.vp-wrap .vp-copyright a {
	color: #278ab7;
	text-decoration: none;
}
/* Notebox
 * ==================================================== */
.vp-wrap .vp-notebox {
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	display: block;
	padding: 10px 20px 10px 55px;
	position: relative;
	margin: 10px 0;
	min-height: 50px;
	width: auto;
}
.vp-wrap .vp-notebox > i {
	display: block;
	font-size: 30px;
	line-height: 1em;
	left: 0;
	margin: 9px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
	position: absolute;
	text-align: center;
	top: 0;
	width: 30px;
}
.vp-wrap .vp-notebox > .label {
	display: block;
	width: auto;
	padding: 0;
	font-weight: bold;
}
.vp-wrap .vp-notebox > .description {
	padding: 0;
	color: inherit;
}
.vp-wrap .vp-notebox > .description p {
	margin: 0;
}
.vp-wrap .vp-notebox.note-normal {
	background-color: #eeeeee;
	border-color: #cccccc;
	color: #666666;
}
.vp-wrap .vp-notebox.note-info {
	background-color: #d1e4f3;
	border-color: #a8b6c1;
	color: #5881a1;
}
.vp-wrap .vp-notebox.note-success {
	background-color: #c4ec94;
	border-color: #70ad60;
	color: #4d751c;
}
.vp-wrap .vp-notebox.note-warning {
	background-color: #fee9a6;
	border-color: #d9c183;
	color: #978138;
}
.vp-wrap .vp-notebox.note-error {
	background-color: #ffa2a3;
	border-color: #bc515b;
	color: #9c1825;
}
.vp-wrap .vp-section .vp-notebox {
	margin: 10px 20px;
}

/* Extension
 * ==================================================== */
 
/* Code Editor styling */
.ace_editor {
	border-width: 1px;
	border-style: solid;
	border-color: #dddddd;
	border-radius: 3px;
	height: 200px;
}
/* Bootstrap Colorpicker */
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	margin: 2px 0 0;
	list-style: none;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	*border-right-width: 2px;
	*border-bottom-width: 2px;
	border-radius: 3px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}
/* jQuery UI Datepicker bottom div bug */
#ui-datepicker-div {
	display: none;
	z-index: 4 !important;
}
/* jQuery UI widget overlay glitch */
.ui-widget-overlay {
	background-repeat: repeat;
}
/* fontawesome chooser + select2 width */
.vp-wrap .select2-container .fontawesome,.vp-wrap .select2-result-label .fontawesome {
	font-size: 12px;
	vertical-align: middle;
}
.vp-wrap .select2-container .fontawesome i,.vp-wrap .select2-result-label .fontawesome i {
	font-size: 14px;
	margin-right: 8px;
}
.vp-wrap .select2-container {
	width: 100%;
}
.vp-wrap .select2-drop {
	border-color: #cccccc;
	padding-top: 10px;
	margin-top: -2px;
}
.vp-wrap .select2-drop.select2-drop-above {
	margin-top: 4px;
	padding-top: 0;
	padding-bottom: 10px;
	border-top-color: #cccccc;
}
.vp-wrap .select2-drop input {
	border-color: #cccccc;
}
.vp-wrap .select2-results .select2-highlighted {
	background: #278ab7;
}