/* social widget */

.widget-md-social .item {
    margin-bottom: 20px;
}

.widget-md-social a i.icon {
    margin-right: 10px;
}

.sidebar.right-align .widget-md-social .item-list a i.icon{
    float: right;
    margin: 3px 0 0 10px;
}

.footer-widgets .widget-md-social a i.icon {
    padding: 5px;
    border-radius: 50px;
    display: inherit;
    transition: background-color .3s;
}

.footer-widgets.light .widget-md-social a i.icon {
    background-color: rgba(255,255,255, 0.6);
    color: rgba(0,0,0,.6);
}

.footer-widgets.dark .widget-md-social a i.icon {
    background-color: rgba(0,0,0, 0.6);
    color: rgba(255,255,255,.6);
}

/* hover */

.footer-widgets.light .widget-md-social a:hover i.icon {
    background-color: #fff;
}

.footer-widgets.dark .widget-md-social a:hover i.icon {
    background-color: #000;
}

/* text part */

.footer-widgets .widget-md-social a i.text {
    font-style: normal;
}