/* -------------------------------------------------
                Device Slider Shortcode
----------------------------------------------------*/

.device-slider .flex-control-nav {
    position: relative;
    bottom: 0;
    margin-bottom: 40px;
    list-style-type: none;
    text-align: center;
}

.device-slider .flex-control-nav li {
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    padding-left: 17px;
    opacity: 0.5;
}

.device-slider .flex-control-nav li:last-child:after {
    content: '';
}

.device-slider .flex-control-nav li.flex-active {
    opacity: 1;
}

.device-slider .flexslider {
    max-width: 745px;
    margin: 0 auto;
    position: relative;
    background: none;
    border: none;
    width: 90%;
    height: 90%;
}

.device-slider .flexslider .slides {
    list-style-type: none;
}

.device-slider .flexslider .slides li {
    max-height: 705px;
}

.device-slider .flexslider .mac-frame {
    position: absolute;
    left: 0;
    max-width: 100%;
    height: 593px;
    right: 0;
    margin: auto;
    transform: scale(1.009);
}

.device-slider .flexslider .slide-description {
    margin-bottom: 67px;
    color: #000;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    height: 64px;
    overflow: hidden;
    padding: 0 7%;
}

.device-slider .flexslider .slide-image {
    background-size: cover;
    background-position: center;
    border-radius: 0;
    margin: auto;
}

.device-slider .flexslider .flex-direction-nav a {
    width: 13%;
    height: 13%;
    top: 38%;
    opacity: 1;
}
.device-slider ul li {
    overflow: hidden;
}
.md-align-left.device-slider .flexslider{
    margin-left:0;
}
.md-align-center.device-slider .flexslider{
    margin:auto;
}
.md-align-right.device-slider .flexslider{
    float:right;
}
.md-align-right.device-slider:after{
    content: ' ';
    clear: both;
    display: block;
}
