.with_border .wpb_accordion_section h3.wpb_accordion_header{
    padding-left: 45px;
    margin-bottom: 0;
    min-height: 70px;
    transition: background 500ms;
    text-align: left;
}

/*---------------------------------------------------------
                        Accordion
---------------------------------------------------------*/
.wpb_accordion_header a{
    font-size: 18px;
    font-weight:normal;
    transition: none;
    transition: font-size 200ms;
    font-family: inherit;
    width: calc(100% - 50px);
    overflow: hidden;
    line-height:1.2em;
}

.wpb_accordion .wpb_accordion_wrapper h3.wpb_accordion_header a {
    top: 50%;
    transform: translateY(-50%);
    padding-left: 0.5em;
}


.wpb_accordion .wpb_accordion_wrapper h3.wpb_accordion_header span{
    font-size: 22px;
}


.wpb_accordion.with_border .wpb_accordion_wrapper .ui-state-active .ui-icon,
.wpb_accordion.with_border .wpb_accordion_wrapper .ui-state-default .ui-icon,
.wpb_accordion.without_border .wpb_accordion_wrapper .ui-state-active .ui-icon,
.wpb_accordion.without_border .wpb_accordion_wrapper .ui-state-default .ui-icon{
    background-image: none;
    font-family: 'pixflow-font-library';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 50%;
    transform: translateY(-50%);
    text-indent:0;
    overflow: visible;

}

.wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon,
.wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon,
.wpb_accordion .wpb_accordion_wrapper h3.wpb_accordion_header .icon_left span{
    font-family: 'pixflow-font-library';
}

.wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon:before{
    content: "\e614";
}

.wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon:before{
    content: "\e613";
}

/* with border style*/
.wpb_accordion.with_border .wpb_accordion_section .ui-state-active .ui-icon,
.wpb_accordion.with_border .wpb_accordion_section .ui-state-default .ui-icon{
    right: 0.83em;
}


.with_border .wpb_accordion_section h3.wpb_accordion_header,
.with_border .wpb_accordion_section h3.wpb_toggle_header{
    padding-left: 45px;
    margin-bottom: 0;
    min-height: 70px;
    transition: background 500ms;
    text-align: left;
}

.with_border .wpb_accordion_section h3.wpb_accordion_header,
.with_border .wpb_accordion_section h3.wpb_toggle_header{
    background: none !important;
}

.wpb_accordion.with_border .wpb_accordion_section .icon_left .icon{
    transform: translateY(-50%);
}

.with_border .wpb_accordion_section .icon_left{
    position: absolute;
    left: 20px;
    max-width: 30px;
    text-align: center;
    z-index: 99;
    top: 50%;
    margin: 0 !important;
}

.wpb_accordion.with_border .wpb_accordion_wrapper .wpb_accordion_section .wpb_accordion_content {
    padding: 30px 20px 30px 20px;
    min-height: 0;
}

.wpb_accordion.with_border .wpb_accordion_wrapper .wpb_accordion_section .wpb_accordion_content .row{
    margin: 0;
}

.wpb_accordion.with_border .wpb_accordion_wrapper .wpb_accordion_header:not(.ui-state-active,.ui-state-hover){
    background: none;
}

.with_border .wpb_accordion_wrapper h3{
    background: none;
    cursor: pointer;
    outline: none;
    position: relative;
    border-bottom: none;
    border-top: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.with_border .wpb_accordion_wrapper h3:after{
    content: '';
    position: absolute;
    z-index: 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
}

.with_border .wpb_accordion_wrapper h3:hover:after,
.with_border .wpb_accordion_wrapper h3:active:after,
.with_border h3:hover:after,
.with_border h3:active:after{
    height: 100%;
}

/* without border style */
.wpb_accordion.without_border .wpb_accordion_section .ui-state-active .ui-icon,
.wpb_accordion.without_border .wpb_accordion_section .ui-state-default .ui-icon{
    right: 0;
}

.without_border .wpb_accordion_section h3.wpb_accordion_header,
.without_border .wpb_accordion_section h3.wpb_toggle_header {
    padding-left: 25px;
    margin-bottom: 0;
    min-height: 70px;
    background: none !important;
    transition: background 500ms;
    text-align: left;
}

.without_border .wpb_accordion_section h3.wpb_accordion_header a{
    position: absolute;
}

.without_border .wpb_accordion_section .icon_left {
    position: absolute;
    left: 0;
    margin: 0 !important;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 99;
}

.without_border .wpb_accordion_wrapper h3,
.without_border .wpb_toggle_wrapper h3 {
    background: none;
    cursor: pointer;
    outline: none;
    position: relative;
    border-bottom: none;
    border-top: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.without_border .wpb_toggle_wrapper .wpb_accordion_section:last-of-type,
.without_border .wpb_accordion_wrapper .wpb_accordion_section:last-of-type {
    border-bottom: none;
}

.wpb_accordion.without_border .wpb_accordion_section h3.wpb_accordion_header a,
.wpb_accordion.without_border .wpb_accordion_section h3.wpb_accordion_header span,
.wpb_accordion.without_border .wpb_accordion_section h3.wpb_accordion_header div{
    transition: color 300ms;
}

.wpb_accordion.without_border .wpb_accordion_wrapper .wpb_accordion_section .wpb_accordion_content {
    padding: 10px 10px 30px 0;
    min-height: 0;
}


.wpb_accordion.without_border .wpb_accordion_wrapper .wpb_accordion_section .wpb_accordion_content .row {
    margin: 0;
}

.wpb_accordion.without_border .wpb_accordion_wrapper .wpb_accordion_header:not(.ui-state-active,.ui-state-hover){
    background: none;
}

.compose-mode .vc_element .wpb_accordion_wrapper > :last-child .wpb_accordion_content,
.view-mode .vc_element .wpb_accordion_wrapper > :last-child .wpb_accordion_content {
    margin-bottom: 0;
}

.compose-mode .vc_element .wpb_accordion_wrapper > :last-child .wpb_accordion_content,
.view-mode .vc_element .wpb_accordion_wrapper > :last-child .wpb_accordion_content {
    margin-bottom: 0 !important;
}

.compose-mode a.md-accordion-add-tab.vc_control-btn{
    cursor: pointer;
    padding:5px 10px;
    width:100%;
    background-color: #ddd;
}