/* -------------------------------------------------
                Testimonial Classic
----------------------------------------------------*/

.testimonial-classic {
    width: 100%;
    margin: 0 auto;
}

.testimonial-classic.testimonial-classic-left{
    text-align: left;
    margin: 0;
}

.testimonial-classic .quote {
    margin-right: 10px;
}

.testimonial-classic .title {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 37px;
}

.testimonial-classic .flexslider {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.testimonial-classic .flexslider .slide-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: cover;
    margin-bottom: 15px;
}

.testimonial-classic .flexslider .detail {
    margin-bottom: 25px;
}

.testimonial-classic .flexslider .detail .paragraph {
    margin-bottom: 26px;
}

.testimonial-classic .flexslider .name-job {
    font-size: 13px;
    font-style: italic;
}

/* center style */

.testimonial-classic-center {
    text-align: center;
}

.testimonial-classic-center .flex-control-nav {
    text-align: center;
    margin-left: 0;
}

.testimonial-classic-center .title {
    display: inline-block;
}

.testimonial-classic-center .icon {
    padding-right: 8px;
    float: none;
    margin: 0;
}

.testimonial-classic-center .flexslider .slide-image {
    float: none;
    margin: 0 auto 15px;
}