/******************************************************************
                Fancy Text Shortcode
*******************************************************************/
.md-fancy-text{
    position: relative;
    display: inline-block;
}
.md-fancy-text-container.md-align-center{
    text-align: center;
}
.md-fancy-text.md-align-center{
    text-align: left;
}
.md-fancy-text.md-align-left{
    float: left;
}
.md-fancy-text.md-align-right{
    float: right;
}
.md-fancy-text .fancy-text-bg{
    font-size:100px;
    position: absolute;
    left:100px;
    top:0;
    z-index: 0;
    line-height:50px;
    font-weight: bold;
    transform: translateX(-90%);
}
.md-fancy-text .fancy-text-bg.fancy-text-numeric{
    font-weight: normal;
}
.md-fancy-text.fancy-text-type-icon .fancy-text-text{
    top:34px;
    left:45px;
}
.md-fancy-text.fancy-text-type-icon .fancy-text-title{
    top:29px;
    left:43px;
}
.md-fancy-text .fancy-text-title{
    position: relative;
    z-index: 1;
    top: 15px;
    left:65px;
    padding-right:85px;
}
.md-fancy-text .fancy-text-text{
    position:relative;
    left: 67px;
    top:20px;
    padding:0 85px 31px 0;
    font-size:14px;
    line-height: 1.9em;
    font-weight: normal;
    white-space:pre-wrap;
}
