/*----------------------------------------------------------
 Client Normal
--------------------------------------------------------- */

.client-normal {
    position: relative;
    width: 100%;
    min-height: 300px;
    z-index: 0;
    overflow: hidden;
}

.client-normal .content {
    display: table;
    width: 100.3%;
    height: 100%;
    position: relative;
}

.client-normal .content .overlay{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    opacity:0.2;
    transition: opacity 0.3s;
}

.client-normal:hover .content .overlay{
    opacity:0.8;
}

.client-normal .content .holder {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.client-normal .content .holder .logo {
    text-align: center;
    width: 100%;
}

.client-normal .content .holder .logo img {
    max-height: 80px;
    margin: auto;
    transition: transform 0.3s;
}

.client-normal:hover .holder img{
    -webkit-backface-visibility: hidden;
    transform: scale(0.8);
}

.client-normal .content .holder .title {
    position: absolute;
    opacity: 0;
    max-height: 100%;
    max-width: 100%;
    right: 50%;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 17px;
    font-weight: 300;
    line-height: 26px;
    transition: opacity 0.5s,bottom 0.5s;
}

.client-normal:hover .holder .title{
    opacity: 1;
    bottom: 40px;
}

.client-normal .bg-image{
    position: absolute;
    width: 140%;
    height: 140%;
    background-position:  50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 0;
}
