/*------------------------------------------
            Instagram shortcode
-------------------------------------------*/
.instagram .heading {
    margin: 0 13px 80px 33px;
}

.instagram .left-aligned {
    float: left;
}

.instagram .right-aligned {
    float: right;
}

.instagram .heading .avatar {
    width: 77px;
    height: 77px;
    background-position: center;
    background-size: cover;
    float: left;
    border-radius: 50%;
    margin-right: 30px;
}

.instagram .heading .title-holder {
    float: left;
}

.instagram .heading .title {
    font-size: 32px;
    line-height: 32px;
    margin: 0;
}

.instagram .heading .separator {
    width: 40px;
    height: 1px;
    margin: 18px 0;
}

.instagram .heading .username,
.instagram .heading .username a {
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    margin: 0;
    font-variant: small-caps;
}

.instagram .statistic {
    margin-top: 25px;
}

.instagram .statistic .item {
    float: left;
    padding: 0 20px;
    border-left: 1px solid;
}

.instagram .statistic .item:first-child {
    border: none;
}

.instagram .statistic .number {
    font-weight: bold;
    font-size: 14px;
}

.instagram .statistic .label {
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
    margin: 2px 0 0;
}

.instagram .photo-list .item {
    float: left;
    margin-bottom: 55px;
}

.instagram .photo-list .item .media {
    position: relative;
    margin-bottom: 25px;
}

.instagram .photo-list .overlay-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    transition: opacity 300ms;
}

.instagram .photo-list .video-js + .overlay-background{
    display: none;
}

.instagram .photo-list .item:hover .overlay-background {
    opacity: 1;
}

.instagram .photo-list .overlay-background .description {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    line-height: 22px;
    padding: 0 20px;
}

.instagram .photo-list .item-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.instagram .photo-list .item .meta .description {
    float: left;
    font-size: 15px;
    line-height: 15px;
    margin: 0;
    font-weight: bold;
}

.instagram .photo-list .item .meta .likes,
.instagram .photo-list .item .meta .comments {
    float: right;
    font-size: 13px;
    line-height: 15px;
}

.instagram .photo-list .item .meta .likes {
    margin-right: 15px;
}

.instagram .photo-list .item .meta .likes i,
.instagram .photo-list .item .meta .comments i {
    margin-right: 5px;
    font-size: 14px;
}

.instagram .comments
{
    background-color:transparent;
}

.instagram .video_instagram{ height: 60px;}
.instagram .video_instagram + .overlay-background{ display: none;}
.video_instagram .icon-play-curve{
    font-size: 45px;
    color: #efe9e9;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
