/******************************************************************
                Icon Shortcode
*******************************************************************/
.md-icon.md-align-left{
    text-align: left;
}

.md-icon.md-align-center{
    text-align: center;
}

.md-icon.md-align-right{
    text-align: right;
}