/* -------------------------------------------------
                Skill Style 1
----------------------------------------------------*/


.skill-style1 {
    /*padding-right: 15px;*/
    max-width: 470px;
}

.skill-style1.style2 {
    /*padding-right: 15px;*/
    max-width: 100%;
}

.skill-style1.md-align-left{margin-left: 0}

.skill-style1.md-align-center{margin: 0 auto;}

.skill-style1.md-align-right{margin-left:auto; margin-right: 0}

.skill-style1 .bar-main-container {
    overflow: hidden;
    vertical-align: middle;
    height: 63px;
}

.skill-style1 .bar-percentage{
    float: left;
    margin-right: 15px;
    font-size: 20px;
    text-align: left;
    margin-top: 3px;
    width: 45px;
}

.skill-style1 .bar-container{
    height: 100%;
    max-width: 400px;
    overflow: hidden;
    vertical-align: middle;
    display: list-item;
    line-height: 100%;
    opacity: 0;
}

.skill-style1.style2 .bar-container{
    max-width: 100%;
}

.skill-style1 .bar{
    height: 4px;
    border-radius: 5px;
    opacity: 0;
}

.skill-style1.style2 .middle-bar{
    height:12px;
}

.skill-style1 .bar-title{
    margin-top: 3px;
    left: 3px;
    position: relative;
    font-size: 13px;
}

.skill-style1 .box_size_container {
    float: left;
}

.skill-style1.style2 .bar-title{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
}

.skill-style1.style2 .bar{
    border-radius: 15px 0 0 15px;
    height:18px;
    border-radius: 10px;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#85ffffff',GradientType=1 ); /* IE6-9 */
    background-blend-mode:overlay;
}

.skill-style1.style2 .bar-container,.skill-style1.style2 .bar-main-container {
    position: relative;
    height: 70px;
    margin-bottom: 15px;
}

.skill-style1.style2 .back-bar{
    height: 18px;
    width: 100%;
    position: absolute;
    background-color:rgba(150, 150, 150,0.20);
    top: 24px;
    z-index: -1;
    border-radius: 15px;
}

.skill-style1.style2 .bar-percentage {
    font-size:12px;
}

.skill-style1.style2 .bar-percentage {
    position: absolute;
    text-align: right;
    bottom:0;
}

.middle-bar .circle{
    width: 1px;
    height: 5px;
    border-radius: 6px;
    margin-top: 7px;
    float: right;
    margin-right: 13px;
}

.gradient-bar{
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
}
