/*---------------------------------------------------------
                Full width Button Shortcode
---------------------------------------------------------*/
.full-width-button{
    transition: 0.3s;
}
.full-width-button a{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.full-width-button a .title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    line-height: 1.5em;
}
