
/*----------------------------------------------------
                    Recent Portrfolio
------------------------------------------------------*/
.recent-project {
    background-color: #f3f3f3;
    padding-top: 69px;
    padding-bottom: 80px;
    width: 100%;
}

.recent-project .recent-container {
    /*max-width: 1200px;*/
    margin: auto;
}

.recent-project .recent-title {
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    color: #222222;
    text-transform: uppercase;
    margin-left: 0;
}

.recent-project .recent-title-seprator {
    width: 25px;
    height: 2px;
    border-top: 2px solid #222222;
    margin: 15px 0 60px 0;
}

.recent-project .single_related {
    float: left;
    margin: 0 5px 20px 5px;
    width: calc( 100% / 5 - 11px);
    height: 240px;
    text-align: center;
    position: relative;
}

.recent-project .recent-image {
    width: 100%;
    height: 135px;
    background-color: #dcdcdc;
    display: table;
    overflow: hidden;
    position: relative;
}

.recent-project .recent-image .image-holder {
    position:absolute ;
    width: 100%;
    height:100%;
    top:0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.recent-project .recent-image:hover .recent-overlay {
    opacity: 0.3;
}

.recent-project .recent-overlay {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s;
}

.recent-project .recent-image span {
    display: table-cell;
    vertical-align: middle;
    color: #222222;
    font-size: 12px;
}

.recent-project .recent-single-title {
    font-size: 15px;
    font-weight: 600;
    color: #000;
    line-height: 18px;
    margin-top: 25px;
}

.recent-project .recent-single-cat {
    font-size: 10px;
    font-weight: 500;
    color: #7d7d7d;
    line-height: 12px;
}

/* Recent Portfolio */

.dark .widget.widget-md-recent-portfolio .item .overlay,
.dark-sidebar .widget.widget-md-recent-portfolio .item .overlay {
    background: rgba(255, 255, 255, 0.3);
}

.light .widget.widget-md-recent-portfolio .item .overlay,
.light-sidebar .widget.widget-md-recent-portfolio .item .overlay {
    background: rgba(0, 0, 0, 0.3);
}
