/******************************************************************
                Blog Classic
*******************************************************************/
.classic-blog .loop-post-content{
    padding: 0 0 15px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 0 1px 21px rgba(0,0,0,.12);
    -moz-box-shadow: 0 1px 21px rgba(0,0,0,.12);
    box-shadow: 0 1px 21px rgba(0,0,0,.12);
    margin-bottom: 35px;
    background-color: #ffffff;
}

.classic-blog.classic-blog-left .loop-post-content {
    padding: 0 0 33px;
}

.classic-blog .loop-post-content ol,
.classic-blog .loop-post-content ul{
    padding-left: 0;
    margin-left: 0;
}

.classic-blog .loop-post-content .post-categories {
    width: 100%;
    padding-top: 35px;
    margin-bottom: 20px;
    text-transform: capitalize;
    color: #ffffff;
}
.classic-blog-left .loop-post-content .post-categories{
    width:auto;
    float:left;
    padding-left:55px;
    padding-top:42px;
}
.classic-blog .loop-post-content .post-categories a{
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    padding: 4px 15px;
    border-radius: 35px;
    display: inline-block;
    -webkit-transition: color .3s, background-color .3s;
    -moz-transition: color .3s, background-color .3s;
    -ms-transition: color .3s, background-color .3s;
    -o-transition: color .3s, background-color .3s;
    transition: color .3s, background-color .3s;
}

.classic-blog .loop-post-content .post-meta {
    margin-bottom: 20px;
}
.classic-blog-left .loop-post-content .post-meta{
    clear: both;
    padding:0 55px;
}
.classic-blog .loop-post-content .post-meta .post-info{
    margin-bottom: 16px;
    margin-top: 17px;
}
.classic-blog-left .loop-post-content .post-info{
    float:left;
    padding-top:47px;
    margin-left:25px;
}
.classic-blog .loop-post-content .classic-blog-icon{
    padding:0 10px 0 0;
    font-size: 17px;

}
.classic-blog-left .loop-post-content .post-info *{
    width:auto;
}
.classic-blog .loop-post-content .post-title{
    margin-left: -2px;
    max-width: 100%;
    margin-top: 0;
    font-size: 35px;
    font-weight: normal;
    line-height: 35px;
}
.classic-blog .loop-post-content .post-title a{
    font-size: 35px;
    font-weight: 900;
    line-height: 1.2em;
    transition: color 0.3s;
    text-transform: none;
    letter-spacing: -1px;
}
.classic-blog .loop-post-content p {
    width: 88%;
}

.classic-blog-left .loop-post-content .classic-blog-content{
    padding:0 55px;
}
.classic-blog-left .loop-post-content .classic-blog-content p{
    width:100%;
}
.classic-blog .loop-post-content .post-meta .post-info p {
    float: none;
    display: inline-block;
    margin-right: 3px;
}
.classic-blog .loop-post-content .post-meta .post-info p a{
    font-size: 15.8px;
    font-weight: normal;
    line-height: 23px;
}

.classic-blog .loop-post-content .post-meta .post-date .symbol{
    margin-right: 12px;
    width: 15px;
    height: 15px;
    display: inline-block;
}

.classic-blog .loop-post-content .post-share .share{
    height: 20px;
    width: 20px;
    opacity: 1;
}
.classic-blog .loop-post-content .post-share .share-hover{
    display: none;
}
.classic-blog .loop-post-content .post-comment{
    height: 20px;
    width: 20px;
}
.classic-blog .loop-post-content .post-comment-hover{
    background-image: none;
    height: 20px;
    width: 20px;
    margin-top: -10px;

}
.classic-blog .loop-post-content .post-comment-holder,
.classic-blog .loop-post-content .post-share{
    margin-top: 30px;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    float: left;
    display: inline-block;
}
.classic-blog-left .loop-post-content .post-comment-holder,
.classic-blog-left .loop-post-content .post-share{
    margin-top: 50px;
}

.classic-blog-left .loop-post-content .post-comment-holder{
    margin-right: 0;
}

.classic-blog .loop-post-content .post-comment-hover span{
    color:#cbcbcb;
}
.classic-blog .loop-post-content .sepretor{
    float: left;
    color: #cbcbcb;
    margin-top: 45px;
    font-size: 18px;
    font-weight: 100;
    margin-right: 3px;
}
.classic-blog.classic-blog-center .loop-post-content .sepretor{
    margin-top: 25px;
}
.classic-blog .loop-post-content .video-img{
    width: 100%;
    max-width: 100%;
    transform: scale(1);
}
.classic-blog .post-pagination{
    border-bottom: none !important;
    margin-top: 90px;
    overflow: hidden;
    position: relative;
    margin-left:0;
    margin-right:0;
}
.classic-blog .post-pagination .post-pagination-hover{
    background:#717171 !important;
}

.classic-blog .loop-post-content a.continue-reading{
    float: none;
    display: inline-block;
    width: 185px;
    font-size: 14px;
    font-weight: normal;
    line-height: 55px;
    margin-top: 30px;
    border: 2px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    -webkit-transition: color .3s, background-color .3s;
    -moz-transition: color .3s, background-color .3s;
    -ms-transition: color .3s, background-color .3s;
    -o-transition: color .3s, background-color .3s;
    transition: color .3s, background-color .3s;
}

.classic-blog-center.classic-blog .loop-post-content a.continue-reading{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.classic-blog-center.classic-blog  .loop-post-content .sharing{
    display: inline-block;
}

.classic-blog-center.classic-blog .classic-blog-content p{
    margin: 0 auto;
}


.classic-blog-left .loop-post-content a.continue-reading{
    margin-left:55px;
}

.classic-blog .loop-post-content .continue-reading-arrow{
    margin-left: 0;
    position: relative;
    top: 3px;
    left: 5px;
}
.classic-blog .loop-post-content .post-media{
    height:auto;
    position: relative;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    overflow: hidden;
    margin-bottom:0;
}

.classic-blog .loop-post-content:not(.video) .post-media:after,
.classic-blog .loop-post-content.video .video-img:after{
    content: "";
    position: absolute;
    width:100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0,0,0,.6);
    top:0;
    left: 0;
    z-index: 4;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;

    border-top-left-radius: 7px;
    border-top-right-radius:7px;
}

.classic-blog .loop-post-content.video .video-img:after{z-index: -1;}

.classic-blog .loop-post-content:not(.video) .post-media:hover:after,
.classic-blog .loop-post-content.video .video-img:hover:after{opacity: 1;}

.classic-blog .loop-post-content .post-media .post-author-meta{
    position: absolute;
    z-index: 5;
    top:  15px;
    left: 15px;

}

.classic-blog .loop-post-content .post-media .post-author-meta .author-image{
    display: inline-block;
    border-radius: 50%;
    width:50px;
    height: 50px;
    overflow: hidden;
    float: left;
}

.classic-blog .loop-post-content .post-media .post-author-meta  .post-author{
    text-transform: capitalize;
    color: #ffffff;
    width: auto;
    display: inline-block;
    margin-left: 10px;
    font-size: 13px;
    text-align: left;
}

.classic-blog .loop-post-content .post-media .post-author-meta  .post-author a{
    display: block;
    font-size: 15px;
}

.classic-blog .loop-post-content .post-media .post-image a img{
    width:100%;
}
.classic-blog .loop-post-content.gallery .post-media,
.classic-blog .loop-post-content.gallery .post-media li.images{
    height:575px;
}

.classic-blog .loop-post-content.gallery .post-media .slides li,
.classic-blog .loop-post-content .video-img{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    cursor: pointer;
}
.classic-blog .loop-post-content blockquote {
    border-left: none;
    border-right: none;
    background-image: none;
    padding: 90px 15% 55px 15%;
    font-size: 135px;
    font-style: normal;
}
.classic-blog .loop-post-content blockquote .name {
    font-weight: normal;
    font-style: normal;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.classic-blog .loop-post-content blockquote p:not(.name){
    font-style: italic;
    font-size: 20px;
    margin-top: -20px;
    line-height: 30px;
    margin-right: auto;
    margin-left: auto;
}

.classic-blog .loop-post-content.quote{
    padding: 0;
}

.classic-blog .loop-post-content .sharing{
    margin: 0 auto;
}
.classic-blog-left .loop-post-content .sharing{
    float:right;
    margin-right: 55px;
}



.classic-blog-left .post-date{
    font-size: 18px;
    line-height: 1.3em;
}
