/***************************
        Process Panel
****************************/
.process-panel-main {
    display: block;
    width: 100%;
}

.process-panel-main-container {
    float: left;
    padding: 0;
    height: 163px;
    overflow: hidden;
    position: relative;
    display: block;
    line-height: 163px;
}

.process-panel-main-container:not(:first-child):after {
    content: "";
    width: 0px;
    height: 0px;
    border-left: 60px solid rgb(0, 0, 0);
    border-top: 100px solid rgba(243, 243, 243, 0);
    border-bottom: 100px solid rgba(243, 243, 243, 0);
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    left: 0;
}

.process-panel-main-container.fix-border:not(:first-child):after {
    border-top-width: 80px;
}

.process-panel-main-container h3.title {
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;
}

.process-panel-main-container .sub-title {
    font-size: 15px;
    line-height: 15px;
}

.process-panel-main-container .process-panel-icon {
    font-size: 43px;
    /*margin-top: 4px;*/
    margin-top: 0;
    position: absolute;
    margin-left: 0.5em;
}

.process-panel-main-container:not(:first-child) .process-panel-icon {
    margin-left: 2em;
}

.process-panel-main-container .process-panel-txt {
    display: inline-block;
    margin-left: 7em;
    vertical-align: middle;
}

.process-panel-main-container:not(:first-child) .process-panel-txt {
    margin-left: 12em;
}

.process-panel-main-container .process-panel-txt .sub-title{
    margin: 0;
}

.process-panel-main .process-panel-main-container .kesho{
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.process-panel-main-container:hover +.process-panel-main-container .kesho{
    width:20px;
}

.process-panel-main-container:after{
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.process-panel-main-container:hover + .process-panel-main-container:after{
    left:20px;
}
