/* -------------------------------------------------
                Product Compare Shortcode
----------------------------------------------------*/
.wpb_product_compare {
    text-align: center;
    padding: 3em 1em;
    opacity:0.9 ;
    -ms-transform:scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: transform 300ms, opacity 300ms;

}

.wpb_product_compare:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-filter: blur(0);
    opacity: 1;
}

.wpb_product_compare .button-parent {
    margin-top: 35px;
}

.product_compare_img {
    margin-bottom: 47px;
}

.product_compare_img img {
    margin: auto;
}

.product_compare_currency {
    font-size: 45px;
    font-weight: 100;
}

.product_compare_price {
    font-size: 70px;
    font-weight: bold;
}

.product_compare_title {
    margin-bottom: 10px;
    margin-top: -13px;
    text-transform: uppercase;
}

.md-align-left.wpb_product_compare .ui-product_compare{
    display: inline-block;
    float: left;
}
.md-align-right.wpb_product_compare .ui-product_compare{
    display: inline-block;
    float: right;
}
.wpb_product_compare:after{
    content: ' ';
    clear: both;
    display: block;
}
