/* -------------------------------------------------
                Instagram Widget
----------------------------------------------------*/

.left-align .widget-instagram .widget-content{
    float: left;
}

.right-align .widget-instagram .widget-content{
    float: right;
}

.widget-instagram .widget-content {
    position: relative;
    max-width: 100%;
    width: 256px;
    margin: auto;
}

.widget-instagram .widget-content > .item {
    width: 60px;
    height: 60px;
    margin: 2px;
    float: left;
    position: relative;
    cursor: pointer;
}

.widget-instagram .featured-item .item {
    width: 256px;
    height: 256px;
    max-width: 100%;
    float: none;
    cursor: inherit;
}

.widget-instagram .widget-content > .item .meta {
    display: none;
}

.widget-instagram .featured-item .meta {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
    text-align: left;
    background: transparent url("assets/img/instagram-shadow.png") center repeat-x;
}

.widget-instagram .item .meta .likes,
.widget-instagram .item .meta .comments {
    color: #fff;
    font-size: 12px;
    line-height: 58px;
    background-color: transparent;
}

.widget-instagram .item:first-child .meta i {
    margin-right: 5px;
}

.widget-instagram .item .meta .likes {
    margin-left: 15px;
}

.widget-instagram .item .meta .comments {
    margin-left: 10px;
}

.widget-instagram .user-info {
    text-align: center;
    margin: -40px 0 20px;
    position: relative;
}

.widget-instagram .user-info .avatar {
    width: 80px;
    height: 80px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    background-position: center;
    background-size: contain;
    margin: 0 auto 10px;
    background-clip: padding-box;
}

.widget-instagram .user-info .username,
.widget-instagram .user-info .biography {
    color: inherit;
    margin: 0;
    line-height: 14px;
}

.widget-instagram .user-info .username {
    margin-bottom: 5px;
}

.widget-instagram .user-info .username a {
    font-size: 14px;
    font-weight: bold;
}

.widget-instagram .user-info .biography {
    font-size: 12px;
}

