/*--------------------------------------
               Subscribe
--------------------------------------*/
.sc-subscribe {
    padding: 50px 0 56px;
    text-align: center;
}

.modern-subscribe .mc4wp-form, .widget-area .mc4wp-form, .sc-subscribe .mc4wp-form {
    display: none;
}

.subscribe-title {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 12px;
}

.subscribe-sub-title {
    font-size: 14px;
    font-weight: 100;
}

.subscribe-textbox {
    padding: 20px;
    width: 60%;
    background: transparent;
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center;
    outline: none;
    max-width: 750px;
}

.subscribe-textbox:focus::-webkit-input-placeholder {
    color: transparent !important;
}

.subscribe-textbox:focus:-moz-placeholder {
    color: transparent !important;
}

/* FF 4-18 */
.subscribe-textbox:focus::-moz-placeholder {
    color: transparent !important;
}

/* FF 19+ */
.subscribe-textbox:focus:-ms-input-placeholder {
    color: transparent !important;
}

/* IE 10+ */

.subscribe-button {
    margin-top: 20px;
    border: none;
    width: 195px;
    height: 47px;
    text-align: center;
    outline: none;
    transition: background .4s;
}

.subscribe-err {
    margin-top: 5px;
    font-size: 11px;
}

.subscribe-button-animation {
    -webkit-animation: subscribe-animation 2s infinite;
    -o-animation: subscribe-animation 2s infinite;
    -moz-animation: subscribe-animation 2s infinite;
    animation: subscribe-animation 2s infinite;
}

@keyframes subscribe-animation {
    00% {
        opacity: 1
    }
    50% {
        opacity: .5
    }
    100% {
        opacity: 1
    }
}