/*-------------------------------------------------
                    Testimonial Carousel
---------------------------------------------------*/
.testimonial-carousel.owl-carousel.owl-loaded{overflow: visible;}
.testimonial-carousel.owl-theme .owl-dots{
    text-align: center;
    height: 22px;
}

.testimonial-carousel.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    height: 22px;
    width: 24px;
    position: relative;
}

.testimonial-carousel.owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 5px 4px;
    background: #d5d5d5;
    display: block;
    bottom: 0;
    position: absolute;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.testimonial-carousel.owl-theme .owl-controls{
    position: relative;
    top: -40px;
}

.testimonial-carousel.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #7e7e7e;
}

.testimonial-carousel .owl-item{
    opacity: 0;
    transition: opacity 0.5s;
}
.testimonial-carousel .owl-item.active{
    transition: opacity 0.5s;
    opacity: 1;
}
.testimonial-carousel.owl-carousel .owl-stage-outer{
    overflow: visible;
}
.testimonial-carousel .clipPath {
    clip-path: url(#clipping);
    height: 100px;
    width: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto;
    margin-top:45px;
    margin-bottom: 10px;
}
.testimonial-carousel .testimonial-carousel-name{
    font-size: 14px;
    font-weight: bold;
    color:#171b1c;
    line-height: 23px;
    text-align: center;
}

.testimonial-carousel .testimonial-carousel-job-name{
    font-size: 12px;
    font-weight: normal;
    color:#a9a9a9;
    line-height: 22px;
    text-align: center;
    margin-bottom: 17px;
    font-style: italic;
}
.testimonial-carousel .testimonial-carousel-job-text{
    text-align: center;
    font-weight: normal;
    line-height: 24px;
    width: 70%;
    margin: auto;
}
.vc_md_testimonial_carousel #owl-demo{
    display: block;
    margin: 0 auto;
}

.vc_md_testimonial_carousel #owl-demo .item:not(:first-child){
    display: none;
}

#owl-demo.testimonial-carousel .item img{
    display: block;
    width: 100%;
    height: auto;
}

.testimonial-carousel.owl-theme .owl-dots .owl-dot span{
    width: 10px;
    height: 10px;
    margin: 0 7px;
    transition: all 0.3s;
}

.testimonial-carousel.owl-theme .owl-dots .owl-dot.active span{
    border-radius: 5px;
    height: 16px;
    transition: all 0.3s;
}

.testimonial-carousel.owl-theme .owl-controls{
    margin-top: 72px;
    text-align: center;
}

.testimonial-carousel.owl-theme .owl-controls .owl-buttons div{
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #869791;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
}

.testimonial-carousel.owl-theme .owl-controls.clickable .owl-buttons div:hover{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}

.testimonial-carousel.owl-theme .owl-controls .owl-page{
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.testimonial-carousel.owl-theme .owl-controls .owl-page span{
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;
}

.testimonial-carousel.owl-theme .owl-controls .owl-page.active span,
.testimonial-carousel.owl-theme .owl-controls.clickable .owl-page:hover span{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
}

.testimonial-carousel.owl-theme .owl-controls .owl-page span.owl-numbers{
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.testimonial-carousel.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
