/*---------------------------------------------------------
                        Iconbox Top Shortcode
---------------------------------------------------------*/

.iconbox-top.md-align-center{ text-align: center;}
.iconbox-top.md-align-left{text-align:  left;}
.iconbox-top.md-align-right{text-align: right;}

.iconbox-top .icon-holder {
    margin-bottom: 15px;
    position: relative;
    height: 100px;
    width: 100px;
}

.iconbox-top .iconbox-top-content{
    display: inline-block;
    max-width: 700px;
}

.iconbox-top .icon,
.iconbox-top .svg-circle {
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translateY(-50%) translateX(50%);
    -moz-transform: translateY(-50%) translateX(50%);
    -ms-transform: translateY(-50%) translateX(50%);
    -o-transform: translateY(-50%) translateX(50%);
    transform: translateY(-50%) translateX(50%);
}

.iconbox-top .icon {
    font-size: 42px;
    z-index: 1;
    -webkit-backface-visibility: hidden;
}

.iconbox-top .svg-circle {
    width: 100px;
    height: 100px;
    padding: 1px;
    display: block;
    opacity: 0.3;
    z-index: 0;
}

.iconbox-top .svg-circle circle {
    stroke-dashoffset: 360px;
    stroke-dasharray: 360px, 360px;
}

.iconbox-top .title {
    margin-bottom: 10px;
    transition: letter-spacing 0.2s cubic-bezier(0.44, 0.54, 0, 1.75);
}

.iconbox-top .description {
    padding-bottom: 35px;
    font-weight: normal;
    width: 75%;
}