/************* style2   ****/
.iconbox-side2 {
    padding: 10px;
}

.iconbox-side2.style2 .iconbox-content {
    max-width: 450px;
}

.iconbox-side2.style2 .iconbox-side2-container{
    width:100%;
    float: none;
    position: relative;
    margin:0 0 15px;
    display: table;
}

.iconbox-side2.style2 .icon-container,
.iconbox-side2.style2 .heading,
.iconbox-side2.style2 .image-container{
    float: none;
    display: table-cell;
    vertical-align: middle;
}

.iconbox-side2.style2.left-align .icon-container,
.iconbox-side2.style2.left-align .heading{
    text-align: left;
}

.iconbox-side2.style2.right-align .icon-container,
.iconbox-side2.style2.right-align .heading{
    text-align: right;
    float: right;
}

.iconbox-side2.style2 .heading{
    width:calc(100% - 60px );
    position: relative;
}

.iconbox-side2.style2 .icon-container{
    width: 60px;
}

.iconbox-side2.style2 .icon{
    font-size: 50px;
}

.iconbox-side2.style2.left-align .icon ,.iconbox-side.style2.left-align .iconbox_side2_image{
    margin-right: 10px;
}

.iconbox-side2.style2.right-align .icon{
    margin-left: 10px;
    margin-bottom: 10px;
}

.iconbox-side2.style2 .info-title{
    font-size: 15px;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
}

.iconbox-side2.style2 .title{
    margin-bottom: 0;
}
.iconbox-side2.style2 .description{
    opacity: 0.7;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 25px;
}
.iconbox-side2.style2 .image-container{
    width: 50px;
}
.iconbox-side2:not(.side2) .iconbox-side2-container .title {
    line-height: 30px;
}

.iconbox-side2.style2 .image-container .iconbox_side2_image{
    background-size:contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.iconbox-side2.left-align .icon-container{
    float: none !important;
}

.iconbox-side:not(.side2) .iconbox-side-container .title {
    line-height: 30px;
}
