/***************************
    Statistic
****************************/
.md-counter.md-align-left{text-align: left;}

.md-counter.md-align-center{text-align: center;}

.md-counter.md-align-right{text-align: right;}

.md-statistic {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    text-align: center;
    transition: 0.3s;
    top:0;
}

.md-statistic .counter{
    width:100%;
}

.md-statistic .counter .timer,
.md-statistic .statistic-symbol{
    font-size: 80px;
    line-height: 80px;
    font-weight: normal;
    display: inline-block;
    width: auto;
}

.md-statistic .statistic-text h2{
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    opacity: 0.7;
}
.md-statistic .timer{
    margin-bottom: 5px;
}