/* -------------------------------------------------
                Imagebox Full-width Shortcode
----------------------------------------------------*/
.imagebox-full {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*margin: 0 -15px;*/
}

.imagebox-full.align-center{
    padding: 55px 19% 40px 19%;
}

.imagebox-full.align-left{
    padding: 55px 19% 40px 5%;
}

.col-sm-1 .imagebox-full.align-left,
.col-sm-2 .imagebox-full.align-left,
.col-sm-3 .imagebox-full.align-left,
.col-sm-4 .imagebox-full.align-left{
    padding: 55px 19% 39px 8%;
}
.imagebox-full .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.imagebox-full .text-container {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 35px;
}

.col-sm-5 .imagebox-full .text-container,
.col-sm-5 .imagebox-full .title,
.col-sm-4 .imagebox-full .text-container,
.col-sm-4 .imagebox-full .title,
.col-sm-3 .imagebox-full .text-container,
.col-sm-3 .imagebox-full .title,
.col-sm-2 .imagebox-full .text-container,
.col-sm-2 .imagebox-full .title,
.col-sm-1 .imagebox-full .text-container,
.col-sm-1 .imagebox-full .title{
    margin-bottom: 10px;
}

.imagebox-full .title,
.imagebox-full .description {
    max-width: 570px;
}

.imagebox-full .title {
    margin-bottom: 30px;
    padding-top: 175px;
}

.imagebox-full .description {
    font-size: 14px;
    line-height: 1.6em;
    opacity: 0;
}

.imagebox-full .slide:hover {
    background-color: transparent;
}

.imagebox-full .shortcode-btn a.button{
    border: 2px solid;
    position: relative;
}

.imagebox-full .shortcode-btn a.button.fill-rectangle{
    border: none;
}
