/***************************
        Icon Box New
****************************/
.iconbox-new.md-align-center{ text-align: center;}
.iconbox-new.md-align-left{text-align:  left;}
.iconbox-new.md-align-right{text-align: right;}

.iconbox-new .icon-holder {
    position: relative;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

.iconbox-new .iconbox-new-content {
    display: inline-block;
    max-width: 700px;
}

.iconbox-new .iconbox-new-content.box-hover {
    transition: background-color .3s;
}

.iconbox-new .icon-holder .icon,
.iconbox-new .svg-circle {
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translateY(-50%) translateX(50%);
    -moz-transform: translateY(-50%) translateX(50%);
    -ms-transform: translateY(-50%) translateX(50%);
    -o-transform: translateY(-50%) translateX(50%);
    transform: translateY(-50%) translateX(50%);
}

.iconbox-new .icon-holder .icon {
    font-size: 55px;
    z-index: 1;
    -webkit-backface-visibility: hidden;
}

.iconbox-new .svg-circle {
    width: 100px;
    height: 100px;
    padding: 1px;
    display: block;
    opacity: 0.3;
    z-index: 0;
    border-radius: 50%;
}

.iconbox-new .svg-circle circle {
    stroke-dashoffset: 360px;
    stroke-dasharray: 360px, 360px;
}

.iconbox-new .title {
    transition: letter-spacing 0.2s cubic-bezier(0.44, 0.54, 0, 1.75);
    /*    line-height: 50px;
        margin-bottom: 0;*/
}

.iconbox-new .description {
    font-weight: normal;
    width: 75%;
    line-height: 22px;
    padding: 10px 0 25px 0;
}

/* read more */

.iconbox-new .read-more {
    position: relative;
    margin-bottom: 50px;
    display: inline-block;
    overflow: hidden;
}

.iconbox-new .read-more i {
    font-size: 21px;
    vertical-align: middle;
    transition: margin .3s ease;
}

.iconbox-new .read-more i:first-child{
    margin-left: -20px;
    margin-right: 10px;
}

.iconbox-new .read-more:hover i:first-child{
    margin-left: 5px;
}

.iconbox-new .read-more i:last-child{
    margin-right: 0;
    margin-left: 2px;
}

.iconbox-new .read-more:hover i:last-child{
    margin-right: -25px;
}
