/*---------------------------------------------------------
                        Toggle Shortcode
---------------------------------------------------------*/
.wpb_toggle_header a {
    font-size: 18px;
    font-weight:normal;
    transition: none;
    transition: font-size 200ms;
    font-family: inherit;
    width: calc(100% - 50px);
    overflow: hidden;
    line-height:1.2em;
}

.with_border .wpb_accordion_section .icon_left,
.wpb_md_toggle2 .wpb_accordion_section .icon_left {
    position: absolute;
    left: 20px;
    max-width: 30px;
    text-align: center;
    z-index: 99;
    top: 50%;
    margin: 0!important;
}

.wpb_md_toggle2 .wpb_toggle_wrapper h3.wpb_toggle_header a {
    top: 50%;
    transform: translateY(-50%);
    padding-left: 0.5em;
}

.wpb_md_toggle2 .wpb_toggle_wrapper h3.wpb_toggle_header a{
    padding-left: 3.9em;
}

.wpb_md_toggle2 .wpb_toggle_wrapper h3.wpb_toggle_header span{
    font-size: 22px;
}

.wpb_md_toggle2 .wpb_toggle_wrapper h3.wpb_toggle_header span.ui-accordion-header-icon{
    height: 54px;
}

.wpb_md_toggle2 .wpb_toggle_wrapper .ui-icon{
    background-image: none;
    font-family: 'pixflow-font-library';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 50%;
    transform: translateY(-50%);
    text-indent:0;
    overflow: visible;

}

.wpb_md_toggle2 .wpb_toggle_wrapper .ui-icon{
    font-size: 19px;
}

.wpb_md_toggle2 .wpb_toggle_wrapper .ui-state-active .ui-icon,
.wpb_md_toggle2 .wpb_toggle_wrapper .ui-state-default .ui-icon,
.wpb_md_toggle2 .wpb_toggle_wrapper h3.wpb_toggle_header .icon_left span{
    font-family: 'pixflow-font-library';
}

.wpb_md_toggle .ui-icon:before {
    content: "\e614";
}

.wpb_md_toggle2 .ui-icon:before{
    content: "\e826";
}

.wpb_md_toggle2 .wpb_toggle_wrapper .ui-state-active .ui-icon:before{
    content: "\e825";
}

.wpb_md_toggle2 .ui-icon:before,
.wpb_md_toggle2 .wpb_toggle_wrapper .ui-state-active .ui-icon:before{
    line-height: 55px;
}

/* with border style*/
.wpb_md_toggle2 .wpb_accordion_section{
    margin-top: 20px;
}

.wpb_md_toggle2 .wpb_accordion_section:first-child{
    margin-top: 0;
}

.wpb_md_toggle2 .wpb_accordion_section .ui-icon {
    width: 55px;
    left: 0;
    text-align: center;
    line-height: 100%;
}

.wpb_md_toggle2 .wpb_accordion_section h3.wpb_toggle_header {
    padding-left: 45px;
    margin-bottom: 0;
    min-height: 70px;
    transition: background 500ms;
    text-align: left;
}

.wpb_md_toggle2 .wpb_accordion_section h3.wpb_toggle_header {
    min-height: 55px;
    transition: all 0.3s;
}

.with_border .wpb_accordion_section h3.wpb_toggle_header{
    background: none !important;
}

.wpb_md_toggle2 .wpb_accordion_section .icon_left .icon{
    transform: translateY(-50%);
}

.wpb_md_toggle2 .wpb_accordion_section .icon_left {
    position: absolute;
    left: 20px;
    max-width: 30px;
    text-align: center;
    z-index: 99;
    top: 50%;
    margin: 0 !important;
}

.wpb_md_toggle2 .wpb_accordion_section .icon_left {
    left: 72px;
}

.wpb_md_toggle2 .wpb_toggle_wrapper .wpb_accordion_section .wpb_toggle_content {
    padding: 15px 60px 27px 20px;
    min-height: 0;
}

.wpb_md_toggle2 .wpb_toggle_wrapper .wpb_accordion_section .wpb_toggle_content {
    padding: 20px 60px 0 0;
}

.wpb_md_toggle2 .wpb_toggle_wrapper .wpb_accordion_section .wpb_toggle_content .row {
    margin: 0;
}

.wpb_md_toggle2 .wpb_toggle_wrapper .wpb_toggle_header:not(.ui-state-active,.ui-state-hover) {
    background: none;
}

.wpb_md_toggle2 .wpb_toggle_wrapper h3 {
    background: none;
    cursor: pointer;
    outline: none;
    position: relative;
    border-bottom: none;
    border-top: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.wpb_md_toggle2 .wpb_toggle_wrapper h3:after {
    content: '';
    position: absolute;
    z-index: 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
}

.wpb_md_toggle2 h3:hover:after,
.wpb_md_toggle2 h3:active:after{
    height: 100%;
}

/* without border style */
.without_border .wpb_toggle_wrapper h3 {
    background: none;
    cursor: pointer;
    outline: none;
    position: relative;
    border-bottom: none;
    border-top: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.wpb_md_toggle2 .wpb_toggle_wrapper .wpb_toggle_header {
    font-weight: normal;
    line-height: inherit;
    letter-spacing: inherit;
}