.ui-resizable{
    height: inherit !important;
}

.ui-resizable-handle,
footer .ui-move-handle{
    position: absolute;
    top: auto; /*fix conflict with rev slider*/
}

header .ui-resizable-handle{
    right: 1px;
    bottom: 1px;
    background:url("../images/resize.png") no-repeat center ;
    width: 14px;
    cursor: e-resize;
    height: 14px;
    opacity: 0;
}

footer .ui-resizable-handle{
    right: 0;
    width: 22px;
    background: transparent url("../../../assets/img/vc-ui-icons/gizmu-handle.png") center no-repeat;
    cursor: e-resize;
}

footer .ui-move-handle{
    right: 24px;
    width: 32px;
    background: transparent url("../../../assets/img/vc-ui-icons/header-gizmo-move.png") center no-repeat;
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

footer .ui-move-handle:active{
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}

header:hover .ui-resizable-handle{
    opacity: 1;
}

header .item-setting svg {
    width: 14px;
}

header .item-setting svg *{
    fill: #5e5e5e;
}

.item-order-placeholder {
    display: inline-block;
    height: inherit;
    background-color: transparent;
    position: relative;
    float: left;
}

.custom-helper {
    height: 66px;
    width: 0 !important;
    top: 0 !important;
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}

.custom-helper.logo-helper {
    width: 150px !important;
    background: transparent url("../../../assets/img/ghost-logo.png") center no-repeat;
}

.custom-helper.menu-helper {
    width: 202px !important;
    background: transparent url("../../../assets/img/ghost-nav.png") center no-repeat;
}

.custom-helper.icons-helper {
    width: 159px !important;
    background: transparent url("../../../assets/img/ghost-icons.png") center no-repeat;
}

.sortable-handle {
    height: 100%;
    width: 99.9%;
    z-index: -1;
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    left: 0;
    top: 0;
    position: absolute;

}

header:hover .sortable-handle{
    border: 1px dashed rgba(92,92,92,.9);
}
.footer-setting span {
    float: left;
    position: relative;
    right: 30px;
    font-size: 18px;
    color: #463b3b;
    top: -1px;
}
header .item-setting,
footer .footer-setting {
    position: absolute;
    height: 43px;
    clear: both;
    display: none;
}

footer .footer-setting {
    width: 0;
    padding: 14px 0 14px 43px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    background: rgba(255,255,255,0.7) ;
    transition: width 450ms cubic-bezier(.6,0,.4,1);
    transition-delay: 400ms;
}

header .item-setting{
    height: 50px;
    padding: 10px 0 0;
}

header .item-setting .menu-selector,
header .item-setting .align_holder,
header .item-setting .edit-setting{
    height: 37px;
    font-family: "Open Sans", sans-serif;
    border-radius: 25px;
    border: 2px solid rgba(217,217,217,.9);
    background-color: rgba(237, 237, 237, 0.9);
    transition: height 450ms cubic-bezier(.6,0,.4,1),padding-left 450ms cubic-bezier(.6,0,.4,1),background-color .15s,border-color .15s;
    margin-right: 5px
}

header .item-setting .menu-selector:hover,
header .item-setting .align_holder:hover,
header .item-setting .edit-setting:hover{
    border-color: rgba(217,217,217,1);
    background-color: rgba(237, 237, 237, 1);
    color: #000000;
}

header .item-setting .align_holder:hover svg *,
header .item-setting .edit-setting:hover svg *{
    fill: #000;
}

header .item-setting .edit-setting{
    color: #5e5e5e;
    font-size: .7em;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 19px;
    font-weight: 700;
    line-height: 33px;
    cursor: pointer;
}

header .item-setting .align_holder{
    width: 37px;
    overflow: hidden;
}

header .item-setting .align_holder:hover{
    /*width: 145px;*/
    height: 120px;
}

header .item-setting .align_holder span:not(.active-item) {
    margin-top: 10px;
    padding: 0 10px;
    border: 0;
}

header .item-setting .align_holder span.active-item{
    margin-top: 0;
    height: 33px;
    /*border-bottom: 2px solid rgba(184, 184, 184, 0.9);*/
    opacity: 1;
    -webkit-box-shadow: 0 1px 0 0 rgba(184, 184, 184, 0.9);
    -moz-box-shadow: 0 1px 0 0 rgba(184, 184, 184, 0.9);
    box-shadow: 0 1px 0 0 rgba(184, 184, 184, 0.9);
}

header .item-setting .align_holder span.active-item svg{
    margin-top: 11px;
}

header .item-setting .align_holder span.active-item svg *{
    fill: #5e5e5e;
}

header.top .icons-pack .wrap{
    max-height: 100%;
    height:100%;
    overflow-y: hidden;
    overflow-x: hidden;
    display: inline-block;
}

header .item-setting{
    bottom: -48px;
    left: 0;
}

footer .footer-setting{
    top: 5px;
    right: 5px;
}

div.widget-area-column.ui-sortable-handle {
    border: 1px dashed rgba(137, 137, 137, 0.3);
}

div.widget-area-column.ui-sortable-handle:hover {
    cursor: move;
}

header .item-setting .setting-holder{
    display: flex;
    width: 220px;
}

footer .footer-setting .setting-holder {
    display: table;
    width: 112px;
    font-size: 12px;
    color: #7d7d7d;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 13px;
    cursor: pointer;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    align-items: flex-start;
    position: relative;
    top: -17px;
}

header .item-setting:hover{
    /*width: 220px;*/
}

footer .footer-setting:hover{
    width: 165px;
    transition-delay: 1ms;
}

header .item-setting span {
    padding: 0 10px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #565656;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 11px;
    width: 35px;
    display: block;
    float: left;
    height: 15px;
    line-height: 15px;
    opacity: 0.35;
    transition: opacity 300ms;
}

header .item-setting span.selected,
header .item-setting span:not(.active-item):hover{
    opacity: 1;
}

header .item-setting span:last-child {
    padding-right: 0;
    border: none;
}

header .item-setting span.left-aligned{
}

header .item-setting span.center-aligned{
}

header .item-setting span.right-aligned{
}

header .item-setting span.menu-selector {
    width: 37px;
    opacity: 1;
}

header .item-setting span.menu-selector svg{margin-top: 9px;}

.gather-btn .ui-resizable-handle.ui-resizable-e {
    display: none !important;
}

body.compose-mode button.customize-partial-edit-shortcut-button{display: none}