/*
 *
 * Main stylesheet for Switchery.
 * http://abpetkov.github.io/switchery/
 *
 */

.switchery{background-color:#fff;border:1px solid #dfdfdf;border-radius:20px;cursor:pointer;display:inline-block;height:30px;position:relative;vertical-align:middle;width:50px;-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}.customizer-checkbox .switchery{height:8px;margin-right:7px;width:19px;border-color:rgba(255,255,255,0)!important}.switchery:after{background-color:rgba(255,0,0,0);border:1px solid #e2e2e2;border-radius:20px;content:" ";display:block;height:14px;margin-left:-4px;margin-top:-4px;width:25px}.switchery > small{display:none;background:#fff;border-radius:100%;box-shadow:0 1px 3px rgba(0,0,0,0.4);height:30px;position:absolute;top:0;width:30px}